<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>爆裂鼓手 | yuge8·专注电影资源分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <meta name="keywords" content="爆裂鼓手" />
    
    <meta name="description" content="19岁少年安德鲁（迈尔斯·特勒MilesTeller饰）成长在单亲家庭，一心想成为顶级爵士乐鼓手。某晚他在学校练习时被魔鬼导师弗莱彻（J·K·西蒙斯J.K.Simmons饰）相中，进入正规乐队，同时也开始为追求完美付出代价。安德鲁越是刻苦练习，与外部世界越是隔膜。唯一理解他的是弗莱彻，但后者的暴躁与喜怒无常扭曲了这段师生关系，更让安德鲁耳濡目染，连带自身的性格亦发生变化。最后当安德鲁终于登上">
<meta name="keywords" content="爆裂鼓手">
<meta property="og:type" content="article">
<meta property="og:title" content="爆裂鼓手">
<meta property="og:url" content="http://yuge8.com/201706/movie/爆裂鼓手/index.html">
<meta property="og:site_name" content="yuge8·专注电影资源分享">
<meta property="og:description" content="19岁少年安德鲁（迈尔斯·特勒MilesTeller饰）成长在单亲家庭，一心想成为顶级爵士乐鼓手。某晚他在学校练习时被魔鬼导师弗莱彻（J·K·西蒙斯J.K.Simmons饰）相中，进入正规乐队，同时也开始为追求完美付出代价。安德鲁越是刻苦练习，与外部世界越是隔膜。唯一理解他的是弗莱彻，但后者的暴躁与喜怒无常扭曲了这段师生关系，更让安德鲁耳濡目染，连带自身的性格亦发生变化。最后当安德鲁终于登上">
<meta property="og:image" content="http://yuge8.com/image/d35eb7409ad180ea1f3ec9f5ea8c9935.png">
<meta property="og:updated_time" content="2017-06-30T03:09:05.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="爆裂鼓手">
<meta name="twitter:description" content="19岁少年安德鲁（迈尔斯·特勒MilesTeller饰）成长在单亲家庭，一心想成为顶级爵士乐鼓手。某晚他在学校练习时被魔鬼导师弗莱彻（J·K·西蒙斯J.K.Simmons饰）相中，进入正规乐队，同时也开始为追求完美付出代价。安德鲁越是刻苦练习，与外部世界越是隔膜。唯一理解他的是弗莱彻，但后者的暴躁与喜怒无常扭曲了这段师生关系，更让安德鲁耳濡目染，连带自身的性格亦发生变化。最后当安德鲁终于登上">
<meta name="twitter:image" content="http://yuge8.com/image/d35eb7409ad180ea1f3ec9f5ea8c9935.png">
    

    
        <link rel="alternate" href="/atom.xml" title="yuge8·专注电影资源分享" type="application/atom+xml" />
    

    
        <link rel="icon" href="/favicon.ico" />
    

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/titillium-web/styles.css">
    <link rel="stylesheet" href="/libs/source-code-pro/styles.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/libs/jquery/2.0.3/jquery.min.js"></script>
    
    
        <link rel="stylesheet" href="/libs/lightgallery/css/lightgallery.min.css">
    
    
        <link rel="stylesheet" href="/libs/justified-gallery/justifiedGallery.min.css">
    
    
        <script type="text/javascript">
(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-101844534-1', 'auto');
ga('send', 'pageview');

</script>
    
    
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8775cfc726a94e80667a7c24cada8c1f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    

</head>

<body>
    <div id="wrap">
        <header id="header">
    <div id="header-outer" class="outer">
        <div class="container">
            <div class="container-inner">
                <div id="header-title">
                    <h1 class="logo-wrap">
                        <a href="/" class="logo"></a>
                    </h1>
                    
                        <h2 class="subtitle-wrap">
                            <p class="subtitle">专注电影视频资源分享|请关注yuge8.com</p>
                        </h2>
                    
                </div>
                <div id="header-inner" class="nav-container">
                    <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
                    <div class="nav-container-inner">
                        <ul id="main-nav">
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/">主页</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/categories/电影资源/">电影资源</a>
                                </li>
                            
                        </ul>
                        <nav id="sub-nav">
                            <div id="search-form-wrap">

    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="搜索" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="想要查找什么..." />
            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: '文章',
            PAGES: '页面',
            CATEGORIES: '分类',
            TAGS: '标签',
            UNTITLED: '(未命名)',
        },
        ROOT_URL: '/',
        CONTENT_URL: '/content.json',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>
<script src="/js/insight.js"></script>

</div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <div class="main-body-header">
    <h1 class="header">
    
    <a class="page-title-link" href="/categories/电影资源/">电影资源</a>
    </h1>
</div>
                        <div class="main-body-content">
                            <article id="post-movie/爆裂鼓手" class="article article-single article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        
            <header class="article-header">
                
    
        <h1 class="article-title" itemprop="name">
        爆裂鼓手
        </h1>
    

            </header>
        
        
            <div class="article-meta">
                
    <div class="article-date">
        <a href="/201706/movie/爆裂鼓手/" class="article-date">
            <time datetime="2017-06-30T03:09:03.000Z" itemprop="datePublished">2017-06-30</time>
        </a>
    </div>

                
    <div class="article-tag">
        <i class="fa fa-tag"></i>
        <a class="tag-link" href="/tags/爆裂鼓手/">爆裂鼓手</a>
    </div>

            </div>
        
        
        <div class="article-entry" itemprop="articleBody">
            <p><img src="/image/d35eb7409ad180ea1f3ec9f5ea8c9935.png" alt=""></p>
<p>　　19岁少年安德鲁（迈尔斯·特勒MilesTeller饰）成长在单亲家庭，一心想成为顶级爵士乐鼓手。某晚他在学校练习时被魔鬼导师弗莱彻（J·K·西蒙斯J.K.Simmons饰）相中，进入正规乐队，同时也开始为追求完美付出代价。安德鲁越是刻苦练习，与外部世界越是隔膜。唯一理解他的是弗莱彻，但后者的暴躁与喜怒无常扭曲了这段师生关系，更让安德鲁耳濡目染，连带自身的性格亦发生变化。最后当安德鲁终于登上纽约音乐厅的舞台，他才惊恐的发现原来弗莱彻一直等着将他打入尘埃……<br>　　《爆裂鼓手》讲述一名少年在严师督教下，以非常规手段挑战自己的极限、追逐爵士乐鼓手梦的热血故事。主人公热爱打鼓，但过度的投入让他失去对音乐的初衷，进而演变为生命的负荷以及师徒间近乎疯魔的对决。电影不只有音乐人的苦痛，更让人看到传统励志背后的残酷真相。《爆裂鼓手》获得第30届圣丹斯电影节最高荣誉评审团奖。</p>
<p>[译文]：<br>19 year old Andrew (Meyers’s MilesTeller) grew up in a single parent family, wanted to become a top jazz drummer. One night he practiced at school by the devil mentor Fletcher (J K Simons J.K.Simmons) phase, into the regular band, also began to pay the price for the pursuit of perfection. The more Andrew practiced hard, the more closely related to the outside world. Only understand his temper is Fletcher, but the latter and the subject to changing moods distorts the relationship between teachers and students, more let Andrew joint monasteries, their own personality also changes. Finally, when Andrew finally boarded the stage of the New York concert hall, he was horrified to find that Fletcher had been waiting to get him into the dust……</p>
<p><em>以下资源收集于网络，版权归原资源地所有，下载后请在24小时内删除，勿非法使用！</em></p>
<p><hr>豆瓣：<a href="http://movie.douban.com/subject/25773932/" target="_blank" rel="external"><font color="#1e92fb">http://movie.douban.com/subject/25773932/</font></a><hr><br>BT种子(复制链接粘贴到迅雷)：<br><a href="magnet:?xt=urn:btih:57242818A244291CE90112B47C30C20C4D0F2BE3&amp;xl=8213807763&amp;dn=爆裂鼓手 7.6G 外挂字幕" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:57242818A244291CE90112B47C30C20C4D0F2BE3&amp;xl=8213807763&amp;dn=爆裂鼓手 7.6G 外挂字幕</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:FE38D521378A9A069F722B965C59E280E21AB1F6&amp;xl=1993839341&amp;dn=爆裂鼓手.HD1280超清中英双字.mp4" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:FE38D521378A9A069F722B965C59E280E21AB1F6&amp;xl=1993839341&amp;dn=爆裂鼓手.HD1280超清中英双字.mp4</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:E82A5CEC74A1CDF5A44D837182E6BB5FD93278E9&amp;xl=2087106374&amp;dn=爆裂鼓手.Whiplash.2014.BD720P.X264.AAC.English.CHS-ENG.Mp4Ba" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:E82A5CEC74A1CDF5A44D837182E6BB5FD93278E9&amp;xl=2087106374&amp;dn=爆裂鼓手.Whiplash.2014.BD720P.X264.AAC.English.CHS-ENG.Mp4Ba</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:D76C8FD1DDFA1436F90D70A3DCFF6AEF3A4D6F66&amp;xl=3461878946&amp;dn=爆裂鼓手.2014.中英字幕￡CMCT犇犇" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:D76C8FD1DDFA1436F90D70A3DCFF6AEF3A4D6F66&amp;xl=3461878946&amp;dn=爆裂鼓手.2014.中英字幕￡CMCT犇犇</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:BCE0E20EE78F02386689208F75E8BD91136F2FE6&amp;xl=1326900286&amp;dn=Whiplash.2014.爆裂鼓手.720p.Chi_Eng.WEB-MP4.mp4" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:BCE0E20EE78F02386689208F75E8BD91136F2FE6&amp;xl=1326900286&amp;dn=Whiplash.2014.爆裂鼓手.720p.Chi_Eng.WEB-MP4.mp4</font></a></p>
<p><hr><br>百度网盘：<br><a href="https://pan.baidu.com/share/link?uk=1378346209&amp;shareid=4014759011" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=1378346209&amp;shareid=4014759011</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=4113763170&amp;shareid=1595941912" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=4113763170&amp;shareid=1595941912</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=3778314627&amp;shareid=3379760443" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=3778314627&amp;shareid=3379760443</font></a></p>
<p><hr><a href="https://yun.baidu.com/pcloud/album/info?uk=2752949472&amp;album_id=5334958176598562190" target="_blank" rel="external"><font color="#1e92fb">https://yun.baidu.com/pcloud/album/info?uk=2752949472&amp;album_id=5334958176598562190</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=1030267993&amp;shareid=3114675552" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=1030267993&amp;shareid=3114675552</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=1175414987&amp;shareid=2907876866" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=1175414987&amp;shareid=2907876866</font></a></p>
<hr>
        </div>
        <footer class="article-footer">
            

    <div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more">分享到：</a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
</div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<style>
    .bdshare_popup_box {
        border-radius: 4px;
        border: #e1e1e1 solid 1px;
    }
    .bdshare-button-style0-16 a,
    .bdshare-button-style0-16 .bds_more {
        padding-left: 20px;
        margin: 6px 10px 6px 0;
    }
    .bdshare_dialog_list a,
    .bdshare_popup_list a,
    .bdshare_popup_bottom a {
        font-family: 'Microsoft Yahei';
    }
    .bdshare_popup_top {
        display: none;
    }
    .bdshare_popup_bottom {
        height: auto;
        padding: 5px;
    }
</style>



        </footer>
    </div>
</article>

    <section id="comments">
    
        
    <div id="uyan_frame"></div>

    
    </section>


                        </div>
                    </section>
                    <aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p>关注我 :</p>
        <ul class="social-links">
            
                
                <li>
                    <a class="social-tooltip" title="weibo" href="http://weibo.com/p/1005056301926780/home?from=page_100505&mod=TAB&is_all=1#place" target="_blank">
                        <i class="icon fa fa-weibo"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="rss" href="/atom.xml" target="_blank">
                        <i class="icon fa fa-rss"></i>
                    </a>
                </li>
                
            
        </ul>
    </div>
    
        
<nav id="article-nav">
    
        <a href="/201706/movie/终结者2/" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">下一篇</strong>
        <p class="article-nav-title">
        
            终结者2
        
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    
    
        <a href="/201706/movie/摩登时代/" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">上一篇</strong>
        <p class="article-nav-title">摩登时代</p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    
</nav>

    
    <div class="widgets-container">
        
            
                
    <div class="widget-wrap">
        <h3 class="widget-title">最新文章</h3>
        <div class="widget">
            <ul id="recent-post" class="">
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-shen-tou-nai-ba-2/" class="thumbnail">
    
    
        <span style="background-image:url(/image/f630cbedebd098fa5407b925091e6678.png)" alt="神偷奶爸2" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-shen-tou-nai-ba-2/" class="title">神偷奶爸2</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:36.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-sha-shou-mei-you-jia-qi/" class="thumbnail">
    
    
        <span style="background-image:url(/image/31e6094b17e005ff8334f568e53a1eaf.png)" alt="杀手没有假期" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-sha-shou-mei-you-jia-qi/" class="title">杀手没有假期</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:17.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-ye-xing-zhe/" class="thumbnail">
    
    
        <span style="background-image:url(/image/25d7169975918a19b159ad438ad4ea83.png)" alt="夜行者" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-ye-xing-zhe/" class="title">夜行者</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:00.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-jiang-shi-xin-niang/" class="thumbnail">
    
    
        <span style="background-image:url(/image/6e0b4df93143b0ad81670738fa3c8d42.png)" alt="僵尸新娘" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-jiang-shi-xin-niang/" class="title">僵尸新娘</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:49:44.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-lang-qiao-yi-meng/" class="thumbnail">
    
    
        <span style="background-image:url(/image/407d73ea21884aa2439ebdac11cb348c.png)" alt="廊桥遗梦" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-lang-qiao-yi-meng/" class="title">廊桥遗梦</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:49:26.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>

            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">分类</h3>
        <div class="widget">
            <ul class="category-list"><li class="category-list-item"><a class="category-list-link" href="/categories/电影资源/">电影资源</a><span class="category-list-count">1538</span></li></ul>
        </div>
    </div>


            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">归档</h3>
        <div class="widget">
            <ul class="archive-list"><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/07/">七月 2017</a><span class="archive-list-count">1043</span></li><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/06/">六月 2017</a><span class="archive-list-count">495</span></li></ul>
        </div>
    </div>


            
        
    </div>
</aside>
                </div>
            </div>
        </div>
        <footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
            </div>
        </div>
    </div>
</footer>
        
    
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137746"></script>




    
        <script src="/libs/lightgallery/js/lightgallery.min.js"></script>
        <script src="/libs/lightgallery/js/lg-thumbnail.min.js"></script>
        <script src="/libs/lightgallery/js/lg-pager.min.js"></script>
        <script src="/libs/lightgallery/js/lg-autoplay.min.js"></script>
        <script src="/libs/lightgallery/js/lg-fullscreen.min.js"></script>
        <script src="/libs/lightgallery/js/lg-zoom.min.js"></script>
        <script src="/libs/lightgallery/js/lg-hash.min.js"></script>
        <script src="/libs/lightgallery/js/lg-share.min.js"></script>
        <script src="/libs/lightgallery/js/lg-video.min.js"></script>
    
    
        <script src="/libs/justified-gallery/jquery.justifiedGallery.min.js"></script>
    
    


<!-- Custom Scripts -->
<script src="/js/main.js"></script>

    </div>
</body>
</html>
