<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>美丽的大脚 | yuge8·专注电影资源分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <meta name="keywords" content="美丽的大脚" />
    
    <meta name="description" content="张美丽（倪萍饰）的丈夫多年前因无知犯法被枪毙了，数年后也失去了孩子。她深知没有文化的后果，于是美丽当上了村里面的老师，教全村的孩子们知识。　　城里的老师夏雨（袁泉饰）来这个穷乡僻壤当志愿者，夏老师的到来给张美丽与孩子们带来了许多新鲜的知识与希望，可是夏老师对艰苦的环境并不适应，是张美丽那淳朴真实的感情逐步的感动了夏老师，即使丈夫前要带走夏老师，她都不舍离去。　　张美丽与放映员王树（孙海英饰）">
<meta name="keywords" content="美丽的大脚">
<meta property="og:type" content="article">
<meta property="og:title" content="美丽的大脚">
<meta property="og:url" content="http://yuge8.com/201707/6694d0c76c9a191741bf0d9c33ce3bf4/index.html">
<meta property="og:site_name" content="yuge8·专注电影资源分享">
<meta property="og:description" content="张美丽（倪萍饰）的丈夫多年前因无知犯法被枪毙了，数年后也失去了孩子。她深知没有文化的后果，于是美丽当上了村里面的老师，教全村的孩子们知识。　　城里的老师夏雨（袁泉饰）来这个穷乡僻壤当志愿者，夏老师的到来给张美丽与孩子们带来了许多新鲜的知识与希望，可是夏老师对艰苦的环境并不适应，是张美丽那淳朴真实的感情逐步的感动了夏老师，即使丈夫前要带走夏老师，她都不舍离去。　　张美丽与放映员王树（孙海英饰）">
<meta property="og:image" content="http://yuge8.com/image/9db6b18c92fff0c4f185a40c79d1a78b.png">
<meta property="og:updated_time" content="2017-06-30T23:33:07.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="美丽的大脚">
<meta name="twitter:description" content="张美丽（倪萍饰）的丈夫多年前因无知犯法被枪毙了，数年后也失去了孩子。她深知没有文化的后果，于是美丽当上了村里面的老师，教全村的孩子们知识。　　城里的老师夏雨（袁泉饰）来这个穷乡僻壤当志愿者，夏老师的到来给张美丽与孩子们带来了许多新鲜的知识与希望，可是夏老师对艰苦的环境并不适应，是张美丽那淳朴真实的感情逐步的感动了夏老师，即使丈夫前要带走夏老师，她都不舍离去。　　张美丽与放映员王树（孙海英饰）">
<meta name="twitter:image" content="http://yuge8.com/image/9db6b18c92fff0c4f185a40c79d1a78b.png">
    

    
        <link rel="alternate" href="/atom.xml" title="yuge8·专注电影资源分享" type="application/atom+xml" />
    

    
        <link rel="icon" href="/favicon.ico" />
    

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/titillium-web/styles.css">
    <link rel="stylesheet" href="/libs/source-code-pro/styles.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/libs/jquery/2.0.3/jquery.min.js"></script>
    
    
        <link rel="stylesheet" href="/libs/lightgallery/css/lightgallery.min.css">
    
    
        <link rel="stylesheet" href="/libs/justified-gallery/justifiedGallery.min.css">
    
    
        <script type="text/javascript">
(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-101844534-1', 'auto');
ga('send', 'pageview');

</script>
    
    
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8775cfc726a94e80667a7c24cada8c1f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    

</head>

<body>
    <div id="wrap">
        <header id="header">
    <div id="header-outer" class="outer">
        <div class="container">
            <div class="container-inner">
                <div id="header-title">
                    <h1 class="logo-wrap">
                        <a href="/" class="logo"></a>
                    </h1>
                    
                        <h2 class="subtitle-wrap">
                            <p class="subtitle">专注电影视频资源分享|请关注yuge8.com</p>
                        </h2>
                    
                </div>
                <div id="header-inner" class="nav-container">
                    <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
                    <div class="nav-container-inner">
                        <ul id="main-nav">
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/">主页</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/categories/电影资源/">电影资源</a>
                                </li>
                            
                        </ul>
                        <nav id="sub-nav">
                            <div id="search-form-wrap">

    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="搜索" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="想要查找什么..." />
            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: '文章',
            PAGES: '页面',
            CATEGORIES: '分类',
            TAGS: '标签',
            UNTITLED: '(未命名)',
        },
        ROOT_URL: '/',
        CONTENT_URL: '/content.json',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>
<script src="/js/insight.js"></script>

</div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <div class="main-body-header">
    <h1 class="header">
    
    <a class="page-title-link" href="/categories/电影资源/">电影资源</a>
    </h1>
</div>
                        <div class="main-body-content">
                            <article id="post-6694d0c76c9a191741bf0d9c33ce3bf4" class="article article-single article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        
            <header class="article-header">
                
    
        <h1 class="article-title" itemprop="name">
        美丽的大脚
        </h1>
    

            </header>
        
        
            <div class="article-meta">
                
    <div class="article-date">
        <a href="/201707/6694d0c76c9a191741bf0d9c33ce3bf4/" class="article-date">
            <time datetime="2017-06-30T23:33:06.000Z" itemprop="datePublished">2017-07-01</time>
        </a>
    </div>

                
    <div class="article-tag">
        <i class="fa fa-tag"></i>
        <a class="tag-link" href="/tags/美丽的大脚/">美丽的大脚</a>
    </div>

            </div>
        
        
        <div class="article-entry" itemprop="articleBody">
            <p><img src="/image/9db6b18c92fff0c4f185a40c79d1a78b.png" alt=""></p>
<p>　　张美丽（倪萍饰）的丈夫多年前因无知犯法被枪毙了，数年后也失去了孩子。她深知没有文化的后果，于是美丽当上了村里面的老师，教全村的孩子们知识。<br>　　城里的老师夏雨（袁泉饰）来这个穷乡僻壤当志愿者，夏老师的到来给张美丽与孩子们带来了许多新鲜的知识与希望，可是夏老师对艰苦的环境并不适应，是张美丽那淳朴真实的感情逐步的感动了夏老师，即使丈夫前要带走夏老师，她都不舍离去。<br>　　张美丽与放映员王树（孙海英饰）有暧昧的事也被夏老师知道了，她知道王树的婚姻生活并不美满，也极力鼓励张美丽在这件事上做出抉择，为自己打算一番。<br>　　他们相处和睦，可是夏老师还是要回到北京，夏老师让张美丽一起去，可是美丽丢不下孩子们，于是一大群人到来城里，城里人的歧视也让美丽清楚一定要孩子们好好念书。<br>　　夏老师说服丈夫帮助改善村里的经济，本来以为不会在见到张美丽的，却因一场意外，夏老师再次回到村里去……</p>
<p>[译文]：<br>The husband of Zhang Meili (Ni Ping) was shot for years after ignorance of the law, and lost her child a few years later. She knew the consequences of no culture, so beautiful as a teacher inside the village, to teach the children of the village knowledge.</p>
<p><em>以下资源收集于网络，版权归原资源地所有，下载后请在24小时内删除，勿非法使用！</em></p>
<p><hr>豆瓣：<a href="http://movie.douban.com/subject/1438689/" target="_blank" rel="external"><font color="#1e92fb">http://movie.douban.com/subject/1438689/</font></a><hr><br>BT种子(复制链接粘贴到迅雷)：<br><a href="magnet:?xt=urn:btih:256414D78601E7926DDCFC3743C1F3CD163CE4AE" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:256414D78601E7926DDCFC3743C1F3CD163CE4AE</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:D85566452C25863AAA1D18CA8388F3B5372E50D8" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:D85566452C25863AAA1D18CA8388F3B5372E50D8</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:DAFE50A9A30D43B382F8D8E5156DBE14291EF5F3" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:DAFE50A9A30D43B382F8D8E5156DBE14291EF5F3</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:951AE7ADD6B0CE300DC706A5C15BE341C3B7B356" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:951AE7ADD6B0CE300DC706A5C15BE341C3B7B356</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:6800EA1B8D6CC3B21B62E169F82305BDC146661A" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:6800EA1B8D6CC3B21B62E169F82305BDC146661A</font></a></p>
<p><hr><br>百度网盘：<br><a href="https://pan.baidu.com/share/link?uk=2568443375&amp;shareid=459673455" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2568443375&amp;shareid=459673455</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=943380868&amp;shareid=3079203198" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=943380868&amp;shareid=3079203198</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=2216072842&amp;shareid=1176529831" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2216072842&amp;shareid=1176529831</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=2216072842&amp;shareid=528261391" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2216072842&amp;shareid=528261391</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=2216072842&amp;shareid=735706763" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2216072842&amp;shareid=735706763</font></a></p>
<hr>
        </div>
        <footer class="article-footer">
            

    <div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more">分享到：</a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
</div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<style>
    .bdshare_popup_box {
        border-radius: 4px;
        border: #e1e1e1 solid 1px;
    }
    .bdshare-button-style0-16 a,
    .bdshare-button-style0-16 .bds_more {
        padding-left: 20px;
        margin: 6px 10px 6px 0;
    }
    .bdshare_dialog_list a,
    .bdshare_popup_list a,
    .bdshare_popup_bottom a {
        font-family: 'Microsoft Yahei';
    }
    .bdshare_popup_top {
        display: none;
    }
    .bdshare_popup_bottom {
        height: auto;
        padding: 5px;
    }
</style>



        </footer>
    </div>
</article>

    <section id="comments">
    
        
    <div id="uyan_frame"></div>

    
    </section>


                        </div>
                    </section>
                    <aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p>关注我 :</p>
        <ul class="social-links">
            
                
                <li>
                    <a class="social-tooltip" title="weibo" href="http://weibo.com/p/1005056301926780/home?from=page_100505&mod=TAB&is_all=1#place" target="_blank">
                        <i class="icon fa fa-weibo"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="rss" href="/atom.xml" target="_blank">
                        <i class="icon fa fa-rss"></i>
                    </a>
                </li>
                
            
        </ul>
    </div>
    
        
<nav id="article-nav">
    
        <a href="/201707/623a8ca964da2ff214d0c93e02b531d5/" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">下一篇</strong>
        <p class="article-nav-title">
        
            冲出亚马逊
        
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    
    
        <a href="/201707/3999548e4a1b43d21d512c7e4487c970/" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">上一篇</strong>
        <p class="article-nav-title">钢琴梦</p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    
</nav>

    
    <div class="widgets-container">
        
            
                
    <div class="widget-wrap">
        <h3 class="widget-title">最新文章</h3>
        <div class="widget">
            <ul id="recent-post" class="">
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-nuo-ding-shan/" class="thumbnail">
    
    
        <span style="background-image:url(/image/3004f808310417fd2735e6bf2efd99fb.png)" alt="诺丁山" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-nuo-ding-shan/" class="title">诺丁山</a></p>
                            <p class="item-date"><time datetime="2017-07-03T04:32:14.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-tian-xia-wu-shuang/" class="thumbnail">
    
    
        <span style="background-image:url(/image/feedf594c34fa3dc19243da78d5368fd.png)" alt="天下无双" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-tian-xia-wu-shuang/" class="title">天下无双</a></p>
                            <p class="item-date"><time datetime="2017-07-03T04:31:55.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-chu-ju/" class="thumbnail">
    
    
        <span style="background-image:url(/image/2fea7a44d386d27bc94a1d07afea4fcf.png)" alt="雏菊" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-chu-ju/" class="title">雏菊</a></p>
                            <p class="item-date"><time datetime="2017-07-03T04:31:36.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-ao-man-yu-pian-jian/" class="thumbnail">
    
    
        <span style="background-image:url(/image/289854415ad83dae4bac884125216788.png)" alt="傲慢与偏见" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-ao-man-yu-pian-jian/" class="title">傲慢与偏见</a></p>
                            <p class="item-date"><time datetime="2017-07-03T04:31:19.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-dang-xing-fu-lai-qiao-men/" class="thumbnail">
    
    
        <span style="background-image:url(/image/310b60c813839667e38fb70b5858ba9d.png)" alt="当幸福来敲门" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-dang-xing-fu-lai-qiao-men/" class="title">当幸福来敲门</a></p>
                            <p class="item-date"><time datetime="2017-07-03T04:31:00.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>

            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">分类</h3>
        <div class="widget">
            <ul class="category-list"><li class="category-list-item"><a class="category-list-link" href="/categories/电影资源/">电影资源</a><span class="category-list-count">938</span></li></ul>
        </div>
    </div>


            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">归档</h3>
        <div class="widget">
            <ul class="archive-list"><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/07/">七月 2017</a><span class="archive-list-count">443</span></li><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/06/">六月 2017</a><span class="archive-list-count">495</span></li></ul>
        </div>
    </div>


            
        
    </div>
</aside>
                </div>
            </div>
        </div>
        <footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
            </div>
        </div>
    </div>
</footer>
        
    
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137746"></script>




    
        <script src="/libs/lightgallery/js/lightgallery.min.js"></script>
        <script src="/libs/lightgallery/js/lg-thumbnail.min.js"></script>
        <script src="/libs/lightgallery/js/lg-pager.min.js"></script>
        <script src="/libs/lightgallery/js/lg-autoplay.min.js"></script>
        <script src="/libs/lightgallery/js/lg-fullscreen.min.js"></script>
        <script src="/libs/lightgallery/js/lg-zoom.min.js"></script>
        <script src="/libs/lightgallery/js/lg-hash.min.js"></script>
        <script src="/libs/lightgallery/js/lg-share.min.js"></script>
        <script src="/libs/lightgallery/js/lg-video.min.js"></script>
    
    
        <script src="/libs/justified-gallery/jquery.justifiedGallery.min.js"></script>
    
    


<!-- Custom Scripts -->
<script src="/js/main.js"></script>

    </div>
</body>
</html>
