<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>MOVIE LIST 电影资源列表 | yuge8·专注电影视频资源分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <meta name="keywords" content="" />
    
    <meta name="description" content="2017年07月07日最新添加的电影资源： 1929好莱坞滑稽剧，不在场证明，爱国者，亚利桑纳奇侠，百老汇旋律，日出，群众，非法图利，翼，万能钥匙，生死停留，恐怖游轮，八面埋伏，致命ID，转轮手枪，心慌方，禁闭岛，一级恐惧，彗星来的那一夜，催眠大师。       海报 名称 评分 网盘 BT种子     1  1929好莱坞滑稽剧 /IMDB7.8 BP　BP　BP　 BT　BT　BT　   2">
<meta property="og:type" content="article">
<meta property="og:title" content="MOVIE LIST 电影资源列表">
<meta property="og:url" content="http://yuge8.com/movie/20170707_movie_152409/index.html">
<meta property="og:site_name" content="yuge8·专注电影视频资源分享">
<meta property="og:description" content="2017年07月07日最新添加的电影资源： 1929好莱坞滑稽剧，不在场证明，爱国者，亚利桑纳奇侠，百老汇旋律，日出，群众，非法图利，翼，万能钥匙，生死停留，恐怖游轮，八面埋伏，致命ID，转轮手枪，心慌方，禁闭岛，一级恐惧，彗星来的那一夜，催眠大师。       海报 名称 评分 网盘 BT种子     1  1929好莱坞滑稽剧 /IMDB7.8 BP　BP　BP　 BT　BT　BT　   2">
<meta property="og:image" content="http://qiniu.maskghost.com/FqlsGV5CXXnKQrnkcyXNBe2HQx82">
<meta property="og:updated_time" content="2017-07-07T07:29:28.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="MOVIE LIST 电影资源列表">
<meta name="twitter:description" content="2017年07月07日最新添加的电影资源： 1929好莱坞滑稽剧，不在场证明，爱国者，亚利桑纳奇侠，百老汇旋律，日出，群众，非法图利，翼，万能钥匙，生死停留，恐怖游轮，八面埋伏，致命ID，转轮手枪，心慌方，禁闭岛，一级恐惧，彗星来的那一夜，催眠大师。       海报 名称 评分 网盘 BT种子     1  1929好莱坞滑稽剧 /IMDB7.8 BP　BP　BP　 BT　BT　BT　   2">
<meta name="twitter:image" content="http://qiniu.maskghost.com/FqlsGV5CXXnKQrnkcyXNBe2HQx82">
    

    
        <link rel="alternate" href="/atom.xml" title="yuge8·专注电影视频资源分享" type="application/atom+xml" />
    

    
        <link rel="icon" href="/favicon.ico" />
    

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/titillium-web/styles.css">
    <link rel="stylesheet" href="/libs/source-code-pro/styles.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/libs/jquery/2.0.3/jquery.min.js"></script>
    
    
        <link rel="stylesheet" href="/libs/lightgallery/css/lightgallery.min.css">
    
    
        <link rel="stylesheet" href="/libs/justified-gallery/justifiedGallery.min.css">
    
    
        <script type="text/javascript">
(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-101844534-1', 'auto');
ga('send', 'pageview');

</script>
    
    
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8775cfc726a94e80667a7c24cada8c1f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    

</head>

<body>
    <div id="wrap">
        <header id="header">
    <div id="header-outer" class="outer">
        <div class="container">
            <div class="container-inner">
                <div id="header-title">
                    <h1 class="logo-wrap">
                        <a href="/" class="logo"></a>
                    </h1>
                    
                        <h2 class="subtitle-wrap">
                            <p class="subtitle">专注电影视频资源分享，因分享而快乐！获取优质资源请关注yuge8.com。</p>
                        </h2>
                    
                </div>
                <div id="header-inner" class="nav-container">
                    <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
                    <div class="nav-container-inner">
                        <ul id="main-nav">
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/">最新资源</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/categories/电影资源/">电影资源</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/Hot-Movie/index.html">热门电影</a>
                                </li>
                            
                        </ul>
                        <nav id="sub-nav">
                            <div id="search-form-wrap">

    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="请输入资源名" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="想要查找什么资源..." />
            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: '资源列表',
            PAGES: '资源页面',
            CATEGORIES: '资源分类',
            TAGS: '标签',
            UNTITLED: '(未命名)',
        },
        ROOT_URL: '/',
        CONTENT_URL: '/content.json',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>
<script src="/js/insight.js"></script>

</div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <div class="main-body-header">
    <h1 class="header">
    
    <a class="page-title-link" href="/categories/电影资源/">电影资源</a>
    </h1>
</div>
                        <div class="main-body-content">
                            <article id="post-movie/20170707_movie_152409" class="article article-single article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        
            <header class="article-header">
                
    
        <h1 class="article-title" itemprop="name">
        MOVIE LIST 电影资源列表
        </h1>
    

            </header>
        
        
            <div class="article-meta">
                
    <div class="article-date">
        <a href="/movie/20170707_movie_152409/index.html" class="article-date">
            <time datetime="2017-07-07T07:24:09.000Z" itemprop="datePublished">2017-07-07</time>
        </a>
    </div>

                
            </div>
        
        
        <div class="article-entry" itemprop="articleBody">
            <p>2017年07月07日最新添加的电影资源：</p>
<font color="green">1929好莱坞滑稽剧，不在场证明，爱国者，亚利桑纳奇侠，百老汇旋律，日出，群众，非法图利，翼，万能钥匙，生死停留，恐怖游轮，八面埋伏，致命ID，转轮手枪，心慌方，禁闭岛，一级恐惧，彗星来的那一夜，催眠大师。</font>


<table>
<thead>
<tr>
<th style="text-align:left"></th>
<th style="text-align:center">海报</th>
<th style="text-align:center">名称</th>
<th style="text-align:left">评分</th>
<th style="text-align:left">网盘</th>
<th style="text-align:left">BT种子</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">1</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FrurqY8L1eEw2LICzSfPXb0sIhPc" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FrurqY8L1eEw2LICzSfPXb0sIhPc?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">1929好莱坞滑稽剧</td>
<td style="text-align:left"><a href=""><font color="green"></font></a>/<a href="http://www.imdb.com/title/tt0019993/" target="_blank" rel="external"><font color="purple">IMDB7.8</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=2905781939&amp;shareid=81850714" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2709237298&amp;shareid=3223926225" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=3762837693&amp;shareid=16311809" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:1971432F0D1BFF49DC6B7DF727144AEBB66BC059" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:B2B10351A6EFBBA36CBA71A82345A9EAEA7FB19F" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:ACD323481201FACD4F3EB1222C221C2367CA5EFE" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">2</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FvNif0YXn92Vvw6DEBhA_R1xtg5A" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FvNif0YXn92Vvw6DEBhA_R1xtg5A?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">不在场证明</td>
<td style="text-align:left"><a href=""><font color="green"></font></a>/<a href="http://www.imdb.com/title/tt0019630/" target="_blank" rel="external"><font color="purple">IMDB6.0</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=661453156&amp;shareid=2189724995" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=1800691004&amp;shareid=1990370279" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=1695078719&amp;shareid=1379932407" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:E6F46E0F5C013CD5A12AC8048AF4C55C953BAFB5" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:33B3D102F974E006200C9D2A0B0E1185DAB12A48" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:3D7D28A05BD671F17438B344964EB59ADCF15C31" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">3</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Funb-zUwAxb8CcGhxB0sXHQNl50P" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Funb-zUwAxb8CcGhxB0sXHQNl50P?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">爱国者</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1304210/" target="_blank" rel="external"><font color="green">豆瓣7.8</font></a>/<a href="http://www.imdb.com/title/tt0019257/" target="_blank" rel="external"><font color="purple">IMDB6.9</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=3322836192&amp;shareid=95384620" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2508541448&amp;shareid=1594292351" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2755131598&amp;shareid=633681858" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:91650B3936D7AC3A78B95B1640D03B7ECAFA2D89" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:2DDB829AF61367BEA5FBBBF90AACA2CE0230B670" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:3492247AEAA11FF22026307C6AAB26B09D2CA694" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">4</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FpOEywCpfqiDdtwxSwPp8591Q06k" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FpOEywCpfqiDdtwxSwPp8591Q06k?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">亚利桑纳奇侠</td>
<td style="text-align:left"><a href=""><font color="green"></font></a>/<a href="http://www.imdb.com/title/tt0020018/" target="_blank" rel="external"><font color="purple">IMDB5.8</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=8680870&amp;shareid=1901780555" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=3445634899&amp;shareid=359985460" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=3982004647&amp;shareid=4155305799" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:24A9919CB30962592C04454BDAF10E0AB920E664" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:DCCF38FB406110F9E8C856BD39A88D3D2BA06525" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:23BBE765B31C11325E7FEB5596BE63B2FC01A033" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">5</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Ft30l_Ilr2o7--jCBddewcVfNP2l" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Ft30l_Ilr2o7--jCBddewcVfNP2l?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">百老汇旋律</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1292670/" target="_blank" rel="external"><font color="green">豆瓣6.3</font></a>/<a href="http://www.imdb.com/title/tt0019729/" target="_blank" rel="external"><font color="purple">IMDB6.4</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=3477704584&amp;shareid=1141378440" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=222031701&amp;shareid=2379900417" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=3493078420&amp;shareid=2754479148" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:D7AC3DE919B16DEB845301E801CDB9481DABBBC8" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:5251842F9206195065B24FD4C4BEE569D73D7669" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:1EA7B082DBE9974442332E38BAD136DF5C0B8036" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">6</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fqi21qp1f8wBTh48uHoA9181x6p-" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fqi21qp1f8wBTh48uHoA9181x6p-?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">日出</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1295753/" target="_blank" rel="external"><font color="green">豆瓣8.8</font></a>/<a href="http://www.imdb.com/title/tt0018455/" target="_blank" rel="external"><font color="purple">IMDB8.4</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=1143859714&amp;shareid=34341375" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=1929604789&amp;shareid=2164744286" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=322140782&amp;shareid=2740867835" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:D2CC3A0B1555DB1F37CD057A79B3BB7743CB6E03" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:6D0D3700FA53FD50DC6964E5D5F91B59CDF3E5E6" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:8E570D5B2069ED979EBC3E603E489FE210302C1A" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">7</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FudLUZsIAVf6OewlpwNIT85gqPov" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FudLUZsIAVf6OewlpwNIT85gqPov?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">群众</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1293273/" target="_blank" rel="external"><font color="green">豆瓣8.6</font></a>/<a href="http://www.imdb.com/title/tt0018806/" target="_blank" rel="external"><font color="purple">IMDB7.9</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=1228181141&amp;shareid=2019544564" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2117379988&amp;shareid=818201714" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2838810314&amp;shareid=2584088349" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:3D31215D71C136167894E27330FE8EB5CEE58B2C" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:351CD8037FFA737D8DF85BAB2D35B81BA2F8DC4E" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:697428CF49034E8F4D949F3B114C59EB581318C4" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">8</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FquUQGubyZdK358zQ5FDKpRcM5y1" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FquUQGubyZdK358zQ5FDKpRcM5y1?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">非法图利</td>
<td style="text-align:left"><a href=""><font color="green"></font></a>/<a href="http://www.imdb.com/title/tt0019304/" target="_blank" rel="external"><font color="purple">IMDB6.9</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=1684618445&amp;shareid=3517511565" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=220475298&amp;shareid=4223394248" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=626635123&amp;shareid=1197493774" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:420DFC51B310B74A184EC18CCACDA2BA9C1D3148" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:389DB8388948AC2FA4D4A9BB53F869A4167810F8" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:B51EA8CC0B6B2E6DC6E151CA4A9F68F67B1C919F" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">9</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FtYPhHn37ScPg1I-9f9uM3rvU2nM" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FtYPhHn37ScPg1I-9f9uM3rvU2nM?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">翼</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1293774/" target="_blank" rel="external"><font color="green">豆瓣7.7</font></a>/<a href="http://www.imdb.com/title/tt0018578/" target="_blank" rel="external"><font color="purple">IMDB7.8</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=1929584517&amp;shareid=3832682328" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=406655326&amp;shareid=2434284996" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=406655326&amp;shareid=1768942871" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:AE35DE763BFFA0E47B4C794FF404072E39812237" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:49DB0A1E9E899265F567DB1AAC021626E2BE620D" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:FC4A5E72150E69873C9AAB7FA40AC08195B49B4A" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">10</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FtW6x8lmR8rvk8clqd9ze7UoVqJ3" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FtW6x8lmR8rvk8clqd9ze7UoVqJ3?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">万能钥匙</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1418752/" target="_blank" rel="external"><font color="green">豆瓣7.8</font></a>/<a href="http://www.imdb.com/title/tt0397101/" target="_blank" rel="external"><font color="purple">IMDB6.5</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:035D024263E957C5D1BEB4FD71C6D060505644CF" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:DE29787EC72800BB124437FB0D4B7CAE74D3040E" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:F0507E49B781977C6FCA45C437EBB153A4F627A8" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">11</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fg_j9_K94Qa7bcTsD49bp3PwwRtr" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fg_j9_K94Qa7bcTsD49bp3PwwRtr?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">生死停留</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1432180/" target="_blank" rel="external"><font color="green">豆瓣7.5</font></a>/<a href="http://www.imdb.com/title/tt0371257/" target="_blank" rel="external"><font color="purple">IMDB6.9</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=1441773&amp;shareid=2064748784" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2169829219&amp;shareid=802676985" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=135030288&amp;shareid=3482238619" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:CDB6975FB85C692E8F5F12B316A42BAA2C3679A8" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:9B333CCF2D251055FC99E2B7E44147AD7EC47235" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:464B520A7A129D0FF6810CF57D5F94872F0199CD" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">12</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Ft1KAMTpPxLTVc_LKMXzizWOSbrC" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Ft1KAMTpPxLTVc_LKMXzizWOSbrC?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">恐怖游轮</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/3011051/" target="_blank" rel="external"><font color="green">豆瓣8.2</font></a>/<a href="http://www.imdb.com/title/tt1187064/" target="_blank" rel="external"><font color="purple">IMDB6.9</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=2403987066&amp;shareid=2801095756" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=1312767573&amp;shareid=1465327702" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2911514727&amp;shareid=3798048864" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:F0163103BD9A8A44A640EDA99AA98380106137BA" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:B485DAA6F112793AC7C083CA39DB4BFB5F127666" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:98142C6AFFB709FA4F130DE18FACB4AE03068B49" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">13</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FoDGjE8Cbc6EefJPGPX1u1zP7ia_" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FoDGjE8Cbc6EefJPGPX1u1zP7ia_?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">八面埋伏</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1309064/" target="_blank" rel="external"><font color="green">豆瓣7.5</font></a>/<a href="http://www.imdb.com/title/tt0297284/" target="_blank" rel="external"><font color="purple">IMDB6.4</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=3743948659&amp;shareid=3890674973" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=656229597&amp;shareid=1550050780" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=3061215015&amp;shareid=1469168226" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:D7317A994D59AD1FD64E11630371F82251510006" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:123E733ADF8BEE3FAC460520B99D124611F78F90" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:E58193D37DAD3C4B13A129EA08E477E189B54F75" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">14</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FoZiQ3-cl6szm_6crHAyGdliPV9a" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FoZiQ3-cl6szm_6crHAyGdliPV9a?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">致命ID</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1297192/" target="_blank" rel="external"><font color="green">豆瓣8.6</font></a>/<a href="http://www.imdb.com/title/tt0309698/" target="_blank" rel="external"><font color="purple">IMDB7.3</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:4B538A7C3B4276494D733F6750F3556C80B85F29" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:5E21C02AA0A3E912BEAA5E36DA9695BC33872773" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:CBAC68982C6D215290BCC4FFEA11DA4591888E7D" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">15</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FjlU-T5lKQyl3wrqd1lQ6JxspPDt" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FjlU-T5lKQyl3wrqd1lQ6JxspPDt?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">转轮手枪</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1437128/" target="_blank" rel="external"><font color="green">豆瓣7.1</font></a>/<a href="http://www.imdb.com/title/tt0365686/" target="_blank" rel="external"><font color="purple">IMDB6.5</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:2790B9EF4B082BECB06F6D8EB8C413F5757501F0" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:8BF39454FBAFB6A1E6D63DF4697EF4E1482A21AC" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:27D24692D5E681E1AF8B5285F73D90686E982560" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">16</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FrKLCys1zQp42FuT31c2Cq7xiz2w" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FrKLCys1zQp42FuT31c2Cq7xiz2w?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">心慌方</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1305903/" target="_blank" rel="external"><font color="green">豆瓣8.0</font></a>/<a href="http://www.imdb.com/title/tt0123755/" target="_blank" rel="external"><font color="purple">IMDB7.3</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=1149951991&amp;shareid=1499343505" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=672606543&amp;shareid=3535180713" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=3239115034&amp;shareid=1179138462" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:35E5602A918488125E82D26B840A785FCC92CB74" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:67B332C3DCD4B77608779946A00559075563CBA6" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:56051438566A6BD4706709431E21B5D829D06792" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">17</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FpDF-jOazNXsd3l2m3IE0vWa79Js" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FpDF-jOazNXsd3l2m3IE0vWa79Js?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">禁闭岛</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/2334904/" target="_blank" rel="external"><font color="green">豆瓣8.6</font></a>/<a href="http://www.imdb.com/title/tt1130884/" target="_blank" rel="external"><font color="purple">IMDB8.1</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=3999554722&amp;shareid=187604487" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=3713052994&amp;shareid=2015704706" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2555400323&amp;shareid=3884632692" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:EFA43E3F6C04030C3231F5475400DE135A20CF7E" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:14774B3E912E3B2461380C764E303D4CE92F5769" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:F59568FD0A560B2BBDEE31ED9D4889C851D2278B" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">18</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FqlsGV5CXXnKQrnkcyXNBe2HQx82" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FqlsGV5CXXnKQrnkcyXNBe2HQx82?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">一级恐惧</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1296217/" target="_blank" rel="external"><font color="green">豆瓣8.3</font></a>/<a href="http://www.imdb.com/title/tt0117381/" target="_blank" rel="external"><font color="purple">IMDB7.7</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=2222789553&amp;shareid=1407337250" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2618763816&amp;shareid=3020895024" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=526678661&amp;shareid=631372690" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:386F99CB7D4632F5898D42977B28C42B10FE099F" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:6266587F9A976043FE49469AA5147D12BB6C93F0" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:C1F2E52A80F487C44821C644FB0C277E0D64FC6E" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">19</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FjrsAbI63G7y1S55qrdRC4hGKK7M" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FjrsAbI63G7y1S55qrdRC4hGKK7M?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">彗星来的那一夜</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/25807345/" target="_blank" rel="external"><font color="green">豆瓣8.3</font></a>/<a href="http://www.imdb.com/title/tt2866360/" target="_blank" rel="external"><font color="purple">IMDB7.2</font></a></td>
<td style="text-align:left"><a href="https://pan.baidu.com/share/link?uk=2667904204&amp;shareid=2392819044" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=2350114829&amp;shareid=1853858164" target="_blank" rel="external">BP</a>　<a href="https://pan.baidu.com/share/link?uk=4079990423&amp;shareid=3115515942" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">20</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fto5o-5ea0sNMlW_75VgGJCv2AcJ" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fto5o-5ea0sNMlW_75VgGJCv2AcJ?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">催眠大师</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/24743711/" target="_blank" rel="external"><font color="green">豆瓣7.6</font></a>/<a href="http://www.imdb.com/title/tt3720058/" target="_blank" rel="external"><font color="purple">IMDB6.9</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:EBAD6804E0BF901930AE5C3B09D8908DABDAE3F4" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:B9D2B9872BAC09A9FD77762269D3F1D42E20F000" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:3CA496C8AD59CD87A8800D3AC09A3788AC8D07E1" target="_blank" rel="external">BT</a>　</td>
</tr>
</tbody>
</table>
<center><font color="red">点击以上蓝色链接获取资源，若有资源失效或者有误，可以在下方评论区留言</font></center>

<blockquote class="blockquote-center">更多资源获取，可持续关注<a href="https://yuge8.com">yuge8</a>官方网站，每天定时更新最新最全的视频资源，无需用户注册，终身免费获取优质资源，我们因分享而快乐！</blockquote>
        </div>
        <footer class="article-footer">
            


    <div class="a2a_kit a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share">Share</a>
    <span class="a2a_divider"></span>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_button_tumblr"></a>
</div>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<style>
    .a2a_menu {
        border-radius: 4px;
    }
    .a2a_menu a {
        margin: 2px 0;
        font-size: 14px;
        line-height: 16px;
        border-radius: 4px;
        color: inherit !important;
        font-family: 'Microsoft Yahei';
    }
    #a2apage_dropdown {
        margin: 10px 0;
    }
    .a2a_mini_services {
        padding: 10px;
    }
    a.a2a_i,
    i.a2a_i {
        width: 122px;
        line-height: 16px;
    }
    a.a2a_i .a2a_svg,
    a.a2a_more .a2a_svg {
        width: 16px;
        height: 16px;
        line-height: 16px;
        vertical-align: top;
        background-size: 16px;
    }
    a.a2a_i {
        border: none !important;
    }
    a.a2a_menu_show_more_less {
        margin: 0;
        padding: 10px 0;
        line-height: 16px;
    }
    .a2a_mini_services:after{content:".";display:block;height:0;clear:both;visibility:hidden}
    .a2a_mini_services{*+height:1%;}
</style>


        </footer>
    </div>
</article>

    <section id="comments">
    
        
    <div id="uyan_frame"></div>

    
    </section>


                        </div>
                    </section>
                    <aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p>关注我 :</p>
        <ul class="social-links">
            
                
                <li>
                    <a class="social-tooltip" title="github" href="https://github.com/tengzhangchao" target="_blank">
                        <i class="icon fa fa-github"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="weibo" href="http://weibo.com/p/1005056301926780/home?from=page_100505&mod=TAB&is_all=1#place" target="_blank">
                        <i class="icon fa fa-weibo"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="rss" href="/atom.xml" target="_blank">
                        <i class="icon fa fa-rss"></i>
                    </a>
                </li>
                
            
        </ul>
    </div>
    
        
<nav id="article-nav">
    
        <a href="/movie/20170707_movie_152928/index.html" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">下一页</strong>
        <p class="article-nav-title">
        
            MOVIE LIST 电影资源列表
        
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    
    
        <a href="/movie/20170707_movie_151701/index.html" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">上一页</strong>
        <p class="article-nav-title">MOVIE LIST 电影资源列表</p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    
</nav>

    
    <div class="widgets-container">
        
            
                
    <div class="widget-wrap">
        <h3 class="widget-title">最新资源</h3>
        <div class="widget">
            <ul id="recent-post" class="">
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170710_movie_192209/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FkguM4A_0gfp9gwGc8swDdTbP3X1)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170710_movie_192209/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-10T11:22:09.000Z" itemprop="datePublished">2017-07-10</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_180318/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FoDxfCJs6H8PP51A_UzBkt5Roqa3)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_180318/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T10:03:18.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_174304/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/Fl-QGUfLjazcu1i375snTUlUkOqK)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_174304/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T09:43:04.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_174006/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/Fv-BCcy3t9pDAb5jvvvVSZzc4o8K)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_174006/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T09:40:06.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_171127/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FrLoa1Skpj6y90JHymlbk4qS5hIS)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_171127/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T09:11:27.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_170741/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FnULnllFqCy8hl6AvhSvPJs64VoX)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_170741/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T09:07:41.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_170000/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FkdtPoztebMnu_EYd_gVEOGkTvR-)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_170000/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T09:00:00.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_165504/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FhoC6kcON9-7GFhdIpXskSz_6O9m)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_165504/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T08:55:04.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_164824/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FvgFs5FI5oGf0eX8pWaEb4oDQZMJ)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_164824/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T08:48:24.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170707_movie_164336/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FoJZznbJzltaTTCQGZZYvKVhh22T)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170707_movie_164336/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-07T08:43:36.000Z" itemprop="datePublished">2017-07-07</time></p>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>

            
        
    </div>
</aside>
                </div>
            </div>
        </div>
        <footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
            </div>
        </div>
    </div>
</footer>
        
    
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137746"></script>




    
        <script src="/libs/lightgallery/js/lightgallery.min.js"></script>
        <script src="/libs/lightgallery/js/lg-thumbnail.min.js"></script>
        <script src="/libs/lightgallery/js/lg-pager.min.js"></script>
        <script src="/libs/lightgallery/js/lg-autoplay.min.js"></script>
        <script src="/libs/lightgallery/js/lg-fullscreen.min.js"></script>
        <script src="/libs/lightgallery/js/lg-zoom.min.js"></script>
        <script src="/libs/lightgallery/js/lg-hash.min.js"></script>
        <script src="/libs/lightgallery/js/lg-share.min.js"></script>
        <script src="/libs/lightgallery/js/lg-video.min.js"></script>
    
    
        <script src="/libs/justified-gallery/jquery.justifiedGallery.min.js"></script>
    
    


<!-- Custom Scripts -->
<script src="/js/main.js"></script>

    </div>
</body>
</html>
