<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>模仿游戏 | yuge8·专注电影资源分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <meta name="keywords" content="模仿游戏" />
    
    <meta name="description" content="二战期间，盟军苦于德国的秘密系统”英格玛“无法破译，政府召集了一批民间数学家、逻辑学家进行秘密破解工作，图灵（本尼迪克特·康伯巴奇BenedictCumberbatch饰）就是其中之一。计划刚开始图灵遭到了以休（马修·古迪MatthewGoode）为首的组员和领导的排斥，幸好军情处部长孟席斯（马克·斯特朗MarkStrong饰）帮助他立项研究破译密码的机器，而图灵则变成了负责人，招收了新的成">
<meta name="keywords" content="模仿游戏">
<meta property="og:type" content="article">
<meta property="og:title" content="模仿游戏">
<meta property="og:url" content="http://yuge8.com/201706/85ed3566fd7aab2402b2dfe084cb226f/index.html">
<meta property="og:site_name" content="yuge8·专注电影资源分享">
<meta property="og:description" content="二战期间，盟军苦于德国的秘密系统”英格玛“无法破译，政府召集了一批民间数学家、逻辑学家进行秘密破解工作，图灵（本尼迪克特·康伯巴奇BenedictCumberbatch饰）就是其中之一。计划刚开始图灵遭到了以休（马修·古迪MatthewGoode）为首的组员和领导的排斥，幸好军情处部长孟席斯（马克·斯特朗MarkStrong饰）帮助他立项研究破译密码的机器，而图灵则变成了负责人，招收了新的成">
<meta property="og:image" content="http://yuge8.com/image/0e683f59d235d1033cf9e5514ece81b2.png">
<meta property="og:updated_time" content="2017-06-30T08:38:05.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="模仿游戏">
<meta name="twitter:description" content="二战期间，盟军苦于德国的秘密系统”英格玛“无法破译，政府召集了一批民间数学家、逻辑学家进行秘密破解工作，图灵（本尼迪克特·康伯巴奇BenedictCumberbatch饰）就是其中之一。计划刚开始图灵遭到了以休（马修·古迪MatthewGoode）为首的组员和领导的排斥，幸好军情处部长孟席斯（马克·斯特朗MarkStrong饰）帮助他立项研究破译密码的机器，而图灵则变成了负责人，招收了新的成">
<meta name="twitter:image" content="http://yuge8.com/image/0e683f59d235d1033cf9e5514ece81b2.png">
    

    
        <link rel="alternate" href="/atom.xml" title="yuge8·专注电影资源分享" type="application/atom+xml" />
    

    
        <link rel="icon" href="/favicon.ico" />
    

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/titillium-web/styles.css">
    <link rel="stylesheet" href="/libs/source-code-pro/styles.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/libs/jquery/2.0.3/jquery.min.js"></script>
    
    
        <link rel="stylesheet" href="/libs/lightgallery/css/lightgallery.min.css">
    
    
        <link rel="stylesheet" href="/libs/justified-gallery/justifiedGallery.min.css">
    
    
        <script type="text/javascript">
(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-101844534-1', 'auto');
ga('send', 'pageview');

</script>
    
    
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8775cfc726a94e80667a7c24cada8c1f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    

</head>

<body>
    <div id="wrap">
        <header id="header">
    <div id="header-outer" class="outer">
        <div class="container">
            <div class="container-inner">
                <div id="header-title">
                    <h1 class="logo-wrap">
                        <a href="/" class="logo"></a>
                    </h1>
                    
                        <h2 class="subtitle-wrap">
                            <p class="subtitle">专注电影视频资源分享|请关注yuge8.com</p>
                        </h2>
                    
                </div>
                <div id="header-inner" class="nav-container">
                    <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
                    <div class="nav-container-inner">
                        <ul id="main-nav">
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/">主页</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/categories/电影资源/">电影资源</a>
                                </li>
                            
                        </ul>
                        <nav id="sub-nav">
                            <div id="search-form-wrap">

    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="搜索" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="想要查找什么..." />
            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: '文章',
            PAGES: '页面',
            CATEGORIES: '分类',
            TAGS: '标签',
            UNTITLED: '(未命名)',
        },
        ROOT_URL: '/',
        CONTENT_URL: '/content.json',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>
<script src="/js/insight.js"></script>

</div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <div class="main-body-header">
    <h1 class="header">
    
    <a class="page-title-link" href="/categories/电影资源/">电影资源</a>
    </h1>
</div>
                        <div class="main-body-content">
                            <article id="post-85ed3566fd7aab2402b2dfe084cb226f" class="article article-single article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        
            <header class="article-header">
                
    
        <h1 class="article-title" itemprop="name">
        模仿游戏
        </h1>
    

            </header>
        
        
            <div class="article-meta">
                
    <div class="article-date">
        <a href="/201706/85ed3566fd7aab2402b2dfe084cb226f/" class="article-date">
            <time datetime="2017-06-30T08:38:01.000Z" itemprop="datePublished">2017-06-30</time>
        </a>
    </div>

                
    <div class="article-tag">
        <i class="fa fa-tag"></i>
        <a class="tag-link" href="/tags/模仿游戏/">模仿游戏</a>
    </div>

            </div>
        
        
        <div class="article-entry" itemprop="articleBody">
            <p><img src="/image/0e683f59d235d1033cf9e5514ece81b2.png" alt=""></p>
<p>　　二战期间，盟军苦于德国的秘密系统”英格玛“无法破译，政府召集了一批民间数学家、逻辑学家进行秘密破解工作，图灵（本尼迪克特·康伯巴奇BenedictCumberbatch饰）就是其中之一。计划刚开始图灵遭到了以休（马修·古迪MatthewGoode）为首的组员和领导的排斥，幸好军情处部长孟席斯（马克·斯特朗MarkStrong饰）帮助他立项研究破译密码的机器，而图灵则变成了负责人，招收了新的成员琼（凯拉·奈特莉KeiraKnightley）开始了艰难的工作。琼很快就迷上了图灵，由于她的帮助所有组员空前的团结，并于两年后成功破解德军的密码。图灵一度与琼订婚，但实际上他隐瞒了一个秘密，因为这个秘密他也遭受了非人的待遇……<br>　　本片改编自安德鲁·霍奇斯编著的《艾伦·图灵传》，上映后获得了第87届奥斯卡最佳改编剧本奖。</p>
<p>[译文]：<br>During the Second World War, the Allied secret system of Germany “suffer from Ingmar” unable to decipher, the government convened a group of mathematicians, logicians folk secret work, Turing (Benedict Coberbach BenedictCumberbatch) is one of them. The plan was to start the Turing Hugh (Matthew Goodey MatthewGoode) headed by members and leaders of the rejection, fortunately, MI6 Secretary Menzies (Mark, MarkStrong) to help him investigate code breaking machine, but Turing became responsible for recruiting new members of Joan (Kayla Knightley KeiraKnightley) start hard work. Joan soon became hooked on Turing, whose help was unprecedented for all the members of the team, and successfully cracked the German Code two years later. Turing was engaged to Jean at the time, but in fact he concealed a secret because he had been subjected to inhuman treatment……</p>
<p><em>以下资源收集于网络，版权归原资源地所有，下载后请在24小时内删除，勿非法使用！</em></p>
<p><hr>豆瓣：<a href="http://movie.douban.com/subject/10463953/" target="_blank" rel="external"><font color="#1e92fb">http://movie.douban.com/subject/10463953/</font></a><hr><br>BT种子(复制链接粘贴到迅雷)：<br><a href="magnet:?xt=urn:btih:28CDEBC084D8C3987F4DD18295D73FD9D1B55729" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:28CDEBC084D8C3987F4DD18295D73FD9D1B55729</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:B4774AE37B0DD3CB2774C210A27B9B1AE46A8F83" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:B4774AE37B0DD3CB2774C210A27B9B1AE46A8F83</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:3C2BD1A4B5E40C145FA017B7525882E517B19D25" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:3C2BD1A4B5E40C145FA017B7525882E517B19D25</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:FBD44E00832B308BDA3071B1140DD2271F845981" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:FBD44E00832B308BDA3071B1140DD2271F845981</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:96417F2C9DA5B1E4E2371C29781432D38F631E32" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:96417F2C9DA5B1E4E2371C29781432D38F631E32</font></a></p>
<p><hr><br>百度网盘：<br><a href="https://pan.baidu.com/share/link?uk=2084296194&amp;shareid=2688685123" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2084296194&amp;shareid=2688685123</font></a></p>
<hr>
        </div>
        <footer class="article-footer">
            

    <div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more">分享到：</a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
</div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<style>
    .bdshare_popup_box {
        border-radius: 4px;
        border: #e1e1e1 solid 1px;
    }
    .bdshare-button-style0-16 a,
    .bdshare-button-style0-16 .bds_more {
        padding-left: 20px;
        margin: 6px 10px 6px 0;
    }
    .bdshare_dialog_list a,
    .bdshare_popup_list a,
    .bdshare_popup_bottom a {
        font-family: 'Microsoft Yahei';
    }
    .bdshare_popup_top {
        display: none;
    }
    .bdshare_popup_bottom {
        height: auto;
        padding: 5px;
    }
</style>



        </footer>
    </div>
</article>

    <section id="comments">
    
        
    <div id="uyan_frame"></div>

    
    </section>


                        </div>
                    </section>
                    <aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p>关注我 :</p>
        <ul class="social-links">
            
                
                <li>
                    <a class="social-tooltip" title="weibo" href="http://weibo.com/p/1005056301926780/home?from=page_100505&mod=TAB&is_all=1#place" target="_blank">
                        <i class="icon fa fa-weibo"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="rss" href="/atom.xml" target="_blank">
                        <i class="icon fa fa-rss"></i>
                    </a>
                </li>
                
            
        </ul>
    </div>
    
        
<nav id="article-nav">
    
        <a href="/201706/89075c7774c878defcc22df7d6b23b32/" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">下一篇</strong>
        <p class="article-nav-title">
        
            怒火青春
        
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    
    
        <a href="/201706/76a88702570c94fb1f16ea77207b0252/" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">上一篇</strong>
        <p class="article-nav-title">叶问</p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    
</nav>

    
    <div class="widgets-container">
        
            
                
    <div class="widget-wrap">
        <h3 class="widget-title">最新文章</h3>
        <div class="widget">
            <ul id="recent-post" class="">
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-shen-tou-nai-ba-2/" class="thumbnail">
    
    
        <span style="background-image:url(/image/f630cbedebd098fa5407b925091e6678.png)" alt="神偷奶爸2" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-shen-tou-nai-ba-2/" class="title">神偷奶爸2</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:36.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-sha-shou-mei-you-jia-qi/" class="thumbnail">
    
    
        <span style="background-image:url(/image/31e6094b17e005ff8334f568e53a1eaf.png)" alt="杀手没有假期" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-sha-shou-mei-you-jia-qi/" class="title">杀手没有假期</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:17.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-ye-xing-zhe/" class="thumbnail">
    
    
        <span style="background-image:url(/image/25d7169975918a19b159ad438ad4ea83.png)" alt="夜行者" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-ye-xing-zhe/" class="title">夜行者</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:00.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-jiang-shi-xin-niang/" class="thumbnail">
    
    
        <span style="background-image:url(/image/6e0b4df93143b0ad81670738fa3c8d42.png)" alt="僵尸新娘" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-jiang-shi-xin-niang/" class="title">僵尸新娘</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:49:44.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-lang-qiao-yi-meng/" class="thumbnail">
    
    
        <span style="background-image:url(/image/407d73ea21884aa2439ebdac11cb348c.png)" alt="廊桥遗梦" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-lang-qiao-yi-meng/" class="title">廊桥遗梦</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:49:26.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>

            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">分类</h3>
        <div class="widget">
            <ul class="category-list"><li class="category-list-item"><a class="category-list-link" href="/categories/电影资源/">电影资源</a><span class="category-list-count">1538</span></li></ul>
        </div>
    </div>


            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">归档</h3>
        <div class="widget">
            <ul class="archive-list"><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/07/">七月 2017</a><span class="archive-list-count">1043</span></li><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/06/">六月 2017</a><span class="archive-list-count">495</span></li></ul>
        </div>
    </div>


            
        
    </div>
</aside>
                </div>
            </div>
        </div>
        <footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
            </div>
        </div>
    </div>
</footer>
        
    
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137746"></script>




    
        <script src="/libs/lightgallery/js/lightgallery.min.js"></script>
        <script src="/libs/lightgallery/js/lg-thumbnail.min.js"></script>
        <script src="/libs/lightgallery/js/lg-pager.min.js"></script>
        <script src="/libs/lightgallery/js/lg-autoplay.min.js"></script>
        <script src="/libs/lightgallery/js/lg-fullscreen.min.js"></script>
        <script src="/libs/lightgallery/js/lg-zoom.min.js"></script>
        <script src="/libs/lightgallery/js/lg-hash.min.js"></script>
        <script src="/libs/lightgallery/js/lg-share.min.js"></script>
        <script src="/libs/lightgallery/js/lg-video.min.js"></script>
    
    
        <script src="/libs/justified-gallery/jquery.justifiedGallery.min.js"></script>
    
    


<!-- Custom Scripts -->
<script src="/js/main.js"></script>

    </div>
</body>
</html>
