<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>MOVIE LIST 电影资源列表 | yuge8·专注电影视频资源分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <meta name="keywords" content="" />
    
    <meta name="description" content="2017年07月07日最新添加的电影资源： 金刚狼3：殊死一战，塞尔玛，美国狙击手，少年时代，万物理论，达拉斯买家俱乐部，菲利普船长，内布拉斯加，菲洛梅娜，美国骗局，少年派的奇幻漂流，乌云背后的幸福线，南国野兽，猎杀本·拉登，爱，后裔，点球成金，特别响，非常近，战马，午夜巴黎。       海报 名称 评分 网盘 BT种子     1  金刚狼3：殊死一战 豆瓣7.1/IMDB6.7 BP　 BT">
<meta property="og:type" content="article">
<meta property="og:title" content="MOVIE LIST 电影资源列表">
<meta property="og:url" content="http://yuge8.com/movie/20170707_movie_170741/index.html">
<meta property="og:site_name" content="yuge8·专注电影视频资源分享">
<meta property="og:description" content="2017年07月07日最新添加的电影资源： 金刚狼3：殊死一战，塞尔玛，美国狙击手，少年时代，万物理论，达拉斯买家俱乐部，菲利普船长，内布拉斯加，菲洛梅娜，美国骗局，少年派的奇幻漂流，乌云背后的幸福线，南国野兽，猎杀本·拉登，爱，后裔，点球成金，特别响，非常近，战马，午夜巴黎。       海报 名称 评分 网盘 BT种子     1  金刚狼3：殊死一战 豆瓣7.1/IMDB6.7 BP　 BT">
<meta property="og:image" content="http://qiniu.maskghost.com/FnULnllFqCy8hl6AvhSvPJs64VoX">
<meta property="og:updated_time" content="2017-07-07T09:11:27.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="MOVIE LIST 电影资源列表">
<meta name="twitter:description" content="2017年07月07日最新添加的电影资源： 金刚狼3：殊死一战，塞尔玛，美国狙击手，少年时代，万物理论，达拉斯买家俱乐部，菲利普船长，内布拉斯加，菲洛梅娜，美国骗局，少年派的奇幻漂流，乌云背后的幸福线，南国野兽，猎杀本·拉登，爱，后裔，点球成金，特别响，非常近，战马，午夜巴黎。       海报 名称 评分 网盘 BT种子     1  金刚狼3：殊死一战 豆瓣7.1/IMDB6.7 BP　 BT">
<meta name="twitter:image" content="http://qiniu.maskghost.com/FnULnllFqCy8hl6AvhSvPJs64VoX">
    

    
        <link rel="alternate" href="/atom.xml" title="yuge8·专注电影视频资源分享" type="application/atom+xml" />
    

    
        <link rel="icon" href="/favicon.ico" />
    

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/titillium-web/styles.css">
    <link rel="stylesheet" href="/libs/source-code-pro/styles.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/libs/jquery/2.0.3/jquery.min.js"></script>
    
    
        <link rel="stylesheet" href="/libs/lightgallery/css/lightgallery.min.css">
    
    
        <link rel="stylesheet" href="/libs/justified-gallery/justifiedGallery.min.css">
    
    
        <script type="text/javascript">
(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-101844534-1', 'auto');
ga('send', 'pageview');

</script>
    
    
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8775cfc726a94e80667a7c24cada8c1f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    

</head>

<body>
    <div id="wrap">
        <header id="header">
    <div id="header-outer" class="outer">
        <div class="container">
            <div class="container-inner">
                <div id="header-title">
                    <h1 class="logo-wrap">
                        <a href="/" class="logo"></a>
                    </h1>
                    
                        <h2 class="subtitle-wrap">
                            <p class="subtitle">专注电影视频资源分享，因分享而快乐！获取优质资源请关注yuge8.com。</p>
                        </h2>
                    
                </div>
                <div id="header-inner" class="nav-container">
                    <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
                    <div class="nav-container-inner">
                        <ul id="main-nav">
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/">最新资源</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/categories/电影资源/">电影资源</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/Hot-Movie/index.html">热门电影</a>
                                </li>
                            
                        </ul>
                        <nav id="sub-nav">
                            <div id="search-form-wrap">

    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="请输入资源名" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="想要查找什么资源..." />
            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: '资源列表',
            PAGES: '资源页面',
            CATEGORIES: '资源分类',
            TAGS: '标签',
            UNTITLED: '(未命名)',
        },
        ROOT_URL: '/',
        CONTENT_URL: '/content.json',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>
<script src="/js/insight.js"></script>

</div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <div class="main-body-header">
    <h1 class="header">
    
    <a class="page-title-link" href="/categories/电影资源/">电影资源</a>
    </h1>
</div>
                        <div class="main-body-content">
                            <article id="post-movie/20170707_movie_170741" class="article article-single article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        
            <header class="article-header">
                
    
        <h1 class="article-title" itemprop="name">
        MOVIE LIST 电影资源列表
        </h1>
    

            </header>
        
        
            <div class="article-meta">
                
    <div class="article-date">
        <a href="/movie/20170707_movie_170741/index.html" class="article-date">
            <time datetime="2017-07-07T09:07:41.000Z" itemprop="datePublished">2017-07-07</time>
        </a>
    </div>

                
            </div>
        
        
        <div class="article-entry" itemprop="articleBody">
            <p>2017年07月07日最新添加的电影资源：</p>
<font color="green">金刚狼3：殊死一战，塞尔玛，美国狙击手，少年时代，万物理论，达拉斯买家俱乐部，菲利普船长，内布拉斯加，菲洛梅娜，美国骗局，少年派的奇幻漂流，乌云背后的幸福线，南国野兽，猎杀本·拉登，爱，后裔，点球成金，特别响，非常近，战马，午夜巴黎。</font>


<table>
<thead>
<tr>
<th style="text-align:left"></th>
<th style="text-align:center">海报</th>
<th style="text-align:center">名称</th>
<th style="text-align:left">评分</th>
<th style="text-align:left">网盘</th>
<th style="text-align:left">BT种子</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">1</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FmAALmvmuCGEv3YZJLfJ_sDArH2j" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FmAALmvmuCGEv3YZJLfJ_sDArH2j?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">金刚狼3：殊死一战</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1792928/" target="_blank" rel="external"><font color="green">豆瓣7.1</font></a>/<a href="http://www.imdb.com/title/tt0458525/" target="_blank" rel="external"><font color="purple">IMDB6.7</font></a></td>
<td style="text-align:left"><a href="https://yun.baidu.com/pcloud/album/info?uk=155949893&amp;album_id=6850871226040504370" target="_blank" rel="external">BP</a>　</td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:7511FB0397C29AFE7E224F738245497F28F3B542" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:7CC10A41ED606DDB40C1F878875E47828EBE0041" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:14218338DBE2F02B9952B659CE71DDB5076383EB" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">2</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FrwILPwO_kxw3cV28vh2KwISq738" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FrwILPwO_kxw3cV28vh2KwISq738?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">塞尔玛</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/3089638/" target="_blank" rel="external"><font color="green">豆瓣7.1</font></a>/<a href="http://www.imdb.com/title/tt1020072/" target="_blank" rel="external"><font color="purple">IMDB7.5</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:F3F53D96443315B5C63B17597BCDB53F14B669FA" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:C157F076F98AD083ED342946FCA4462E51B6F3CF" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:B4B0ECEA70874FF211486F5EFA984C81E02963C8" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">3</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fst0Ab9JoCJsws8SRJ6bNn99TDfG" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fst0Ab9JoCJsws8SRJ6bNn99TDfG?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">美国狙击手</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/21263666/" target="_blank" rel="external"><font color="green">豆瓣7.4</font></a>/<a href="http://www.imdb.com/title/tt2179136/" target="_blank" rel="external"><font color="purple">IMDB7.3</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:97F092CF825D5E6AEB87A593E5C903EF2E561120" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:2E8708B038F1EAD2010E697077A11D53D8477620" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:1A9AD365D7E8246AA92DF59E9DEA1CA6224425BA" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">4</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FjfG7yicWgTETW2vwgrG6tSHmFiH" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FjfG7yicWgTETW2vwgrG6tSHmFiH?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">少年时代</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/2209575/" target="_blank" rel="external"><font color="green">豆瓣8.5</font></a>/<a href="http://www.imdb.com/title/tt1065073/" target="_blank" rel="external"><font color="purple">IMDB7.9</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:E940E0132178E4E21D4E0B6456D4177E0FE551B3" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:9825231D3B271535CF19A1C6F197676738D14C3C" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:8EEF8DF6A49AB90CF5CF7F8EB2D97BBFDDD2245E" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">5</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fg7TDTP3e_iTVuHXTN-uBB1Y8rgw" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fg7TDTP3e_iTVuHXTN-uBB1Y8rgw?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">万物理论</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/24815950/" target="_blank" rel="external"><font color="green">豆瓣8.0</font></a>/<a href="http://www.imdb.com/title/tt2980516/" target="_blank" rel="external"><font color="purple">IMDB7.7</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:C01CF5130E55BEC652EAC90432A6E087E5300D47" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:649A786838C165333ED8EFE86ACBBFC1D3FAFC29" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:FE5BF36CC4D6BED67541142781788F80F782635C" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">6</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FnULnllFqCy8hl6AvhSvPJs64VoX" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FnULnllFqCy8hl6AvhSvPJs64VoX?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">达拉斯买家俱乐部</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1793929/" target="_blank" rel="external"><font color="green">豆瓣8.6</font></a>/<a href="http://www.imdb.com/title/tt0790636/" target="_blank" rel="external"><font color="purple">IMDB8.0</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:B1861CC9DA15A1B54962874ECC08833D4A1DFD13" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:BC003BD5BA9E01462FA31099309B31FCDB960C4F" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:A35823942B6E2E5F5FE641161FE901096AAD9113" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">7</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FuI3AyIv-EjGnCR4Fso9HWfTFbbz" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FuI3AyIv-EjGnCR4Fso9HWfTFbbz?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">菲利普船长</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/4116480/" target="_blank" rel="external"><font color="green">豆瓣8.1</font></a>/<a href="http://www.imdb.com/title/tt1535109/" target="_blank" rel="external"><font color="purple">IMDB7.9</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:3B9E70B28C7E31BDF348BAAB3ED1E67C7843ADB5" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:D55EBC8E0813D1292A671B3DA2D25A9E25D5DC57" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:438504F177DA1F2C4B621AB8959A84582763E434" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">8</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FsGAfRG3rTMRi5wxU4Ydgn3R4YdE" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FsGAfRG3rTMRi5wxU4Ydgn3R4YdE?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">内布拉斯加</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/6538833/" target="_blank" rel="external"><font color="green">豆瓣8.6</font></a>/<a href="http://www.imdb.com/title/tt1821549/" target="_blank" rel="external"><font color="purple">IMDB7.8</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:DD2C920704323FC82E874D0806D9FBDCD4635F84" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:01E61EEB61D3F552AE0534E73956DFCE65723730" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:C80C94BF4BE690A9D732A8475DD571DF5A7E7A26" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">9</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FihlwaooDwA_g2hpMyQBLOyg_KUh" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FihlwaooDwA_g2hpMyQBLOyg_KUh?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">菲洛梅娜</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/19973780/" target="_blank" rel="external"><font color="green">豆瓣8.4</font></a>/<a href="http://www.imdb.com/title/tt2431286/" target="_blank" rel="external"><font color="purple">IMDB7.7</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:0B8E1265044E6959B95976E67F81F7128B38F2E1" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:F5F5C122EA564F74669D1969BE34C083BAF6FCA4" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:923B10CF32A5B536F937071111EEA3FE418DFBD5" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">10</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FgezTRN7xaAV84MrE1SV7GVocLaH" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FgezTRN7xaAV84MrE1SV7GVocLaH?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">美国骗局</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/6873657/" target="_blank" rel="external"><font color="green">豆瓣6.6</font></a>/<a href="http://www.imdb.com/title/tt1800241/" target="_blank" rel="external"><font color="purple">IMDB7.3</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:FD9E463D7A8CE0AF90C6C36DDA92F4F0640769ED" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:FB1B4919B27A652518CBC82192537848CC7FBC95" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:8646F43012811242CD89565CF78BD3ECA3805DC9" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">11</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fky2bKEe3NhDRzSpikA8jrvY6-_X" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fky2bKEe3NhDRzSpikA8jrvY6-_X?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">少年派的奇幻漂流</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/1929463/" target="_blank" rel="external"><font color="green">豆瓣9.0</font></a>/<a href="http://www.imdb.com/title/tt0454876/" target="_blank" rel="external"><font color="purple">IMDB8.0</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:22E31CA164FC273473FBF9D65CF830EEB5CF0947" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:E9FE6D582739A49AB92B08B5AA190045E1CC0D03" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:DE0032B4AE995B3F0A761D67D2D8DFCC8B3D81A7" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">12</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FuPG6uAhHXH_t5x8Aq4RuIPVoYYj" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FuPG6uAhHXH_t5x8Aq4RuIPVoYYj?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">乌云背后的幸福线</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/3094909/" target="_blank" rel="external"><font color="green">豆瓣7.7</font></a>/<a href="http://www.imdb.com/title/tt1045658/" target="_blank" rel="external"><font color="purple">IMDB7.8</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:C2F15851ED1D4B4C9FE6B51C008C1BB1907BE0DE" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:F494DDADFC850F5645755F4A7E866D10D03BD038" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:537FF22558978EDC8914375E446CDA3A81644D0A" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">13</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FrEqLzVJySqX1kCGrKcRA7hfkH9r" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FrEqLzVJySqX1kCGrKcRA7hfkH9r?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">南国野兽</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/7015714/" target="_blank" rel="external"><font color="green">豆瓣7.6</font></a>/<a href="http://www.imdb.com/title/tt2125435/" target="_blank" rel="external"><font color="purple">IMDB7.3</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:3AC8D877AB1793B2C2C1AE2EF0FDC5FF7EB78FE1" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:1AB5D1F7A27C3DE7CFA0CD53C7C5D2DC3D896EC7" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:FBDE315E9781AE5EB852B5744E39570671817B72" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">14</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fsh00aPjTynusW7muxwivko4ZU5H" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fsh00aPjTynusW7muxwivko4ZU5H?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">猎杀本·拉登</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/6430835/" target="_blank" rel="external"><font color="green">豆瓣7.5</font></a>/<a href="http://www.imdb.com/title/tt1790885/" target="_blank" rel="external"><font color="purple">IMDB7.4</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:9C72528F545F4D3CAB629B3086D9E0912AAE88FF" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:16CFF39195DAF4A385BC4893600DDB3A408293EE" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:2DD24B9FDEF7CF47A27FEB839FBEC44C6D184B88" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">15</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fu40LDhoPEBSO9PkhsBLgfL6sdym" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fu40LDhoPEBSO9PkhsBLgfL6sdym?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">爱</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/4798707/" target="_blank" rel="external"><font color="green">豆瓣8.5</font></a>/<a href="http://www.imdb.com/title/tt1602620/" target="_blank" rel="external"><font color="purple">IMDB7.8</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:D1F32D0CE1553B25419EF01A5BB096C220D82D9B" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:71C7D5507129FFB1B9FB4EF6C3F263525A6F208F" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:34C88EC0D106BA5FB4643EFDBFBE5135E8725F9B" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">16</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FlUoXBu_zhZMEbtXuxBF_kWBUmca" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FlUoXBu_zhZMEbtXuxBF_kWBUmca?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">后裔</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/3071509/" target="_blank" rel="external"><font color="green">豆瓣7.5</font></a>/<a href="http://www.imdb.com/title/tt1033575/" target="_blank" rel="external"><font color="purple">IMDB7.4</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:5031C3109E92C205CD05C1897EB770D18D67AEF4" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:AD493C884ECD72269AD8C52F574ABACB6CDDF2FC" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:0061F02172FE055BAD6E4FC9A1EF5EA0B605A38E" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">17</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fs7EL7QJ5um6B23cv0p-5MNtdTC0" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fs7EL7QJ5um6B23cv0p-5MNtdTC0?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">点球成金</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/3023164/" target="_blank" rel="external"><font color="green">豆瓣8.1</font></a>/<a href="http://www.imdb.com/title/tt1210166/" target="_blank" rel="external"><font color="purple">IMDB7.6</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:1D2A6DDAB77ACC21B83496758901F3B4ADAA2450" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:9E762D1493D1FEEB2C9C6DD44BB53FF2ABFB77C5" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:BB353E43F15365206714A71050350FDB07BDC937" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">18</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FsQvl9LTw_MMsA7O1EXLRwBiPFlf" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FsQvl9LTw_MMsA7O1EXLRwBiPFlf?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">特别响，非常近</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/3078514/" target="_blank" rel="external"><font color="green">豆瓣7.6</font></a>/<a href="http://www.imdb.com/title/tt0477302/" target="_blank" rel="external"><font color="purple">IMDB6.9</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:458A5A8A0377ABB3FD2AE7B49D9BD55154E3E01A" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:FC938FBCF0F00D1B1CFB67926E2CF414206F1AEF" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:D79DED8F9A195B6DF5660BF716754A716C56DAF1" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">19</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/Fl5ou1pMmnAvxJVXyir4fTHvxpN3" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/Fl5ou1pMmnAvxJVXyir4fTHvxpN3?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">战马</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/4206436/" target="_blank" rel="external"><font color="green">豆瓣8.0</font></a>/<a href="http://www.imdb.com/title/tt1568911/" target="_blank" rel="external"><font color="purple">IMDB7.2</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:AFF66CEE9B2E5BF996A04C103F98BCD95CCD09D4" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:C700548FA60688C4D0AB4EDD144414C97C775F3E" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:68604DCAFE2918F5DBDA28CE918001BC7FC117E7" target="_blank" rel="external">BT</a>　</td>
</tr>
<tr>
<td style="text-align:left">20</td>
<td style="text-align:center"><a href="http://qiniu.maskghost.com/FjjpskCnpKewQozzK9LRjDBFKYo2" target="_blank" rel="external"><img src="http://qiniu.maskghost.com/FjjpskCnpKewQozzK9LRjDBFKYo2?imageView2/2/w/89/h/50/q/75" alt=""></a></td>
<td style="text-align:center">午夜巴黎</td>
<td style="text-align:left"><a href="http://movie.douban.com/subject/4319218/" target="_blank" rel="external"><font color="green">豆瓣8.1</font></a>/<a href="http://www.imdb.com/title/tt1605783/" target="_blank" rel="external"><font color="purple">IMDB7.7</font></a></td>
<td style="text-align:left"></td>
<td style="text-align:left"><a href="magnet:?xt=urn:btih:FC466CAC0E271ADF42B9B8BC742032DB31E78A20" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:71D815757CF045341A421FB04F3F17EEE8B8E080" target="_blank" rel="external">BT</a>　<a href="magnet:?xt=urn:btih:53A59E9134CFE27C7C656BFFDBE598D01706092A" target="_blank" rel="external">BT</a>　</td>
</tr>
</tbody>
</table>
<center><font color="red">点击以上蓝色链接获取资源，若有资源失效或者有误，可以在下方评论区留言</font></center>

<blockquote class="blockquote-center">更多资源获取，可持续关注<a href="https://yuge8.com">yuge8</a>官方网站，每天定时更新最新最全的视频资源，无需用户注册，终身免费获取优质资源，我们因分享而快乐！</blockquote>
        </div>
        <footer class="article-footer">
            


    <div class="a2a_kit a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share">Share</a>
    <span class="a2a_divider"></span>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_button_tumblr"></a>
</div>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<style>
    .a2a_menu {
        border-radius: 4px;
    }
    .a2a_menu a {
        margin: 2px 0;
        font-size: 14px;
        line-height: 16px;
        border-radius: 4px;
        color: inherit !important;
        font-family: 'Microsoft Yahei';
    }
    #a2apage_dropdown {
        margin: 10px 0;
    }
    .a2a_mini_services {
        padding: 10px;
    }
    a.a2a_i,
    i.a2a_i {
        width: 122px;
        line-height: 16px;
    }
    a.a2a_i .a2a_svg,
    a.a2a_more .a2a_svg {
        width: 16px;
        height: 16px;
        line-height: 16px;
        vertical-align: top;
        background-size: 16px;
    }
    a.a2a_i {
        border: none !important;
    }
    a.a2a_menu_show_more_less {
        margin: 0;
        padding: 10px 0;
        line-height: 16px;
    }
    .a2a_mini_services:after{content:".";display:block;height:0;clear:both;visibility:hidden}
    .a2a_mini_services{*+height:1%;}
</style>


        </footer>
    </div>
</article>

    <section id="comments">
    
        
    <div id="uyan_frame"></div>

    
    </section>


                        </div>
                    </section>
                    <aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p>关注我 :</p>
        <ul class="social-links">
            
                
                <li>
                    <a class="social-tooltip" title="github" href="https://github.com/tengzhangchao" target="_blank">
                        <i class="icon fa fa-github"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="weibo" href="http://weibo.com/p/1005056301926780/home?from=page_100505&mod=TAB&is_all=1#place" target="_blank">
                        <i class="icon fa fa-weibo"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="rss" href="/atom.xml" target="_blank">
                        <i class="icon fa fa-rss"></i>
                    </a>
                </li>
                
            
        </ul>
    </div>
    
        
<nav id="article-nav">
    
        <a href="/movie/20170707_movie_171127/index.html" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">下一页</strong>
        <p class="article-nav-title">
        
            MOVIE LIST 电影资源列表
        
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    
    
        <a href="/movie/20170707_movie_170000/index.html" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">上一页</strong>
        <p class="article-nav-title">MOVIE LIST 电影资源列表</p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    
</nav>

    
    <div class="widgets-container">
        
            
                
    <div class="widget-wrap">
        <h3 class="widget-title">最新资源</h3>
        <div class="widget">
            <ul id="recent-post" class="">
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170714_movie_093351/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FmrUz4zUGtp5NTXQzaI4WRV4wnM8)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170714_movie_093351/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-14T01:33:51.000Z" itemprop="datePublished">2017-07-14</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170714_movie_032122/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FtGrKBmJbnjyZejP7gWpGdJ01pWH)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170714_movie_032122/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T19:21:22.000Z" itemprop="datePublished">2017-07-14</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170714_movie_021830/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FmZy3uhkVWDTFN_e_yuU3r4mEhAL)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170714_movie_021830/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T18:18:30.000Z" itemprop="datePublished">2017-07-14</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170714_movie_011450/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/Fl4NFo35iSJJzRHDNjip7zaB6m79)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170714_movie_011450/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T17:14:50.000Z" itemprop="datePublished">2017-07-14</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170714_movie_001012/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FtIooHrPDUU1Fq0WsFyS7zL-eAid)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170714_movie_001012/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T16:10:12.000Z" itemprop="datePublished">2017-07-14</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170713_movie_230638/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FsJtq2b39biVf-5nxgwQAWlgBqt3)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170713_movie_230638/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T15:06:38.000Z" itemprop="datePublished">2017-07-13</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170713_movie_220308/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FrxYuynNqd9SRintYKhBf85jdaBM)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170713_movie_220308/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T14:03:08.000Z" itemprop="datePublished">2017-07-13</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170713_movie_205951/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FtuiaNMviVG-lTbNgzlCbhGjpCo-)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170713_movie_205951/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T12:59:51.000Z" itemprop="datePublished">2017-07-13</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170713_movie_195623/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/Fo0PkfV4CXd08rdzcUvpms_Ky7aF)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170713_movie_195623/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T11:56:23.000Z" itemprop="datePublished">2017-07-13</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/movie/20170713_movie_185007/index.html" class="thumbnail">
    
    
        <span style="background-image:url(http://qiniu.maskghost.com/FnQZ4k6DXXNMfd-sEZADwzMEreX6)" alt="MOVIE LIST 电影资源列表" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/movie/20170713_movie_185007/index.html" class="title">MOVIE LIST 电影资源列表</a></p>
                            <p class="item-date"><time datetime="2017-07-13T10:50:07.000Z" itemprop="datePublished">2017-07-13</time></p>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>

            
        
    </div>
</aside>
                </div>
            </div>
        </div>
        <footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
            </div>
        </div>
    </div>
</footer>
        
    
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137746"></script>




    
        <script src="/libs/lightgallery/js/lightgallery.min.js"></script>
        <script src="/libs/lightgallery/js/lg-thumbnail.min.js"></script>
        <script src="/libs/lightgallery/js/lg-pager.min.js"></script>
        <script src="/libs/lightgallery/js/lg-autoplay.min.js"></script>
        <script src="/libs/lightgallery/js/lg-fullscreen.min.js"></script>
        <script src="/libs/lightgallery/js/lg-zoom.min.js"></script>
        <script src="/libs/lightgallery/js/lg-hash.min.js"></script>
        <script src="/libs/lightgallery/js/lg-share.min.js"></script>
        <script src="/libs/lightgallery/js/lg-video.min.js"></script>
    
    
        <script src="/libs/justified-gallery/jquery.justifiedGallery.min.js"></script>
    
    


<!-- Custom Scripts -->
<script src="/js/main.js"></script>

    </div>
</body>
</html>
