<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>一个陌生女人的来信 | yuge8·专注电影资源分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <meta name="keywords" content="一个陌生女人的来信" />
    
    <meta name="description" content="[一个陌生女人的来信]简介： 　　1948年的深冬，作家（姜文）在41岁生日的晚上收到一封厚厚来信，此信出自一个濒死女人之手，所言是她对他将近20年的爱恋，但他却一无所知。　　18年前，13岁的女孩爱上了住在隔壁的作家，因家变搬到了别处后，女孩并没对作家忘情。几年过去，女孩变成女学生（徐静蕾）回到原来的住处，如愿以偿与作家有了交往，但作家对眼前曾住在其隔壁的女学生没有任何印象。作家有事离开，自此音">
<meta name="keywords" content="一个陌生女人的来信">
<meta property="og:type" content="article">
<meta property="og:title" content="一个陌生女人的来信">
<meta property="og:url" content="http://yuge8.com/201707/1499-yi-ge-mo-sheng-nv-ren-de-lai-xin/index.html">
<meta property="og:site_name" content="yuge8·专注电影资源分享">
<meta property="og:description" content="[一个陌生女人的来信]简介： 　　1948年的深冬，作家（姜文）在41岁生日的晚上收到一封厚厚来信，此信出自一个濒死女人之手，所言是她对他将近20年的爱恋，但他却一无所知。　　18年前，13岁的女孩爱上了住在隔壁的作家，因家变搬到了别处后，女孩并没对作家忘情。几年过去，女孩变成女学生（徐静蕾）回到原来的住处，如愿以偿与作家有了交往，但作家对眼前曾住在其隔壁的女学生没有任何印象。作家有事离开，自此音">
<meta property="og:image" content="http://yuge8.com/image/b6cb4f7dea5d31891d48c3b34b5041e8.png">
<meta property="og:updated_time" content="2017-07-03T08:15:15.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="一个陌生女人的来信">
<meta name="twitter:description" content="[一个陌生女人的来信]简介： 　　1948年的深冬，作家（姜文）在41岁生日的晚上收到一封厚厚来信，此信出自一个濒死女人之手，所言是她对他将近20年的爱恋，但他却一无所知。　　18年前，13岁的女孩爱上了住在隔壁的作家，因家变搬到了别处后，女孩并没对作家忘情。几年过去，女孩变成女学生（徐静蕾）回到原来的住处，如愿以偿与作家有了交往，但作家对眼前曾住在其隔壁的女学生没有任何印象。作家有事离开，自此音">
<meta name="twitter:image" content="http://yuge8.com/image/b6cb4f7dea5d31891d48c3b34b5041e8.png">
    

    
        <link rel="alternate" href="/atom.xml" title="yuge8·专注电影资源分享" type="application/atom+xml" />
    

    
        <link rel="icon" href="/favicon.ico" />
    

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/titillium-web/styles.css">
    <link rel="stylesheet" href="/libs/source-code-pro/styles.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/libs/jquery/2.0.3/jquery.min.js"></script>
    
    
        <link rel="stylesheet" href="/libs/lightgallery/css/lightgallery.min.css">
    
    
        <link rel="stylesheet" href="/libs/justified-gallery/justifiedGallery.min.css">
    
    
        <script type="text/javascript">
(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-101844534-1', 'auto');
ga('send', 'pageview');

</script>
    
    
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8775cfc726a94e80667a7c24cada8c1f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    

</head>

<body>
    <div id="wrap">
        <header id="header">
    <div id="header-outer" class="outer">
        <div class="container">
            <div class="container-inner">
                <div id="header-title">
                    <h1 class="logo-wrap">
                        <a href="/" class="logo"></a>
                    </h1>
                    
                        <h2 class="subtitle-wrap">
                            <p class="subtitle">专注电影视频资源分享|请关注yuge8.com</p>
                        </h2>
                    
                </div>
                <div id="header-inner" class="nav-container">
                    <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
                    <div class="nav-container-inner">
                        <ul id="main-nav">
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/">主页</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/categories/电影资源/">电影资源</a>
                                </li>
                            
                        </ul>
                        <nav id="sub-nav">
                            <div id="search-form-wrap">

    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="搜索" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="想要查找什么..." />
            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: '文章',
            PAGES: '页面',
            CATEGORIES: '分类',
            TAGS: '标签',
            UNTITLED: '(未命名)',
        },
        ROOT_URL: '/',
        CONTENT_URL: '/content.json',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>
<script src="/js/insight.js"></script>

</div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <div class="main-body-header">
    <h1 class="header">
    
    <a class="page-title-link" href="/categories/电影资源/">电影资源</a>
    </h1>
</div>
                        <div class="main-body-content">
                            <article id="post-1499-yi-ge-mo-sheng-nv-ren-de-lai-xin" class="article article-single article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        
            <header class="article-header">
                
    
        <h1 class="article-title" itemprop="name">
        一个陌生女人的来信
        </h1>
    

            </header>
        
        
            <div class="article-meta">
                
    <div class="article-date">
        <a href="/201707/1499-yi-ge-mo-sheng-nv-ren-de-lai-xin/" class="article-date">
            <time datetime="2017-07-03T08:15:13.000Z" itemprop="datePublished">2017-07-03</time>
        </a>
    </div>

                
    <div class="article-tag">
        <i class="fa fa-tag"></i>
        <a class="tag-link" href="/tags/一个陌生女人的来信/">一个陌生女人的来信</a>
    </div>

            </div>
        
        
        <div class="article-entry" itemprop="articleBody">
            <p><img src="/image/b6cb4f7dea5d31891d48c3b34b5041e8.png" alt=""><br>[一个陌生女人的来信]简介：</p>
<p>　　1948年的深冬，作家（姜文）在41岁生日的晚上收到一封厚厚来信，此信出自一个濒死女人之手，所言是她对他将近20年的爱恋，但他却一无所知。<br>　　18年前，13岁的女孩爱上了住在隔壁的作家，因家变搬到了别处后，女孩并没对作家忘情。几年过去，女孩变成女学生（徐静蕾）回到原来的住处，如愿以偿与作家有了交往，但作家对眼前曾住在其隔壁的女学生没有任何印象。作家有事离开，自此音信全无，女学生在绝望的等待中生下她与作家的结晶，并为让孩子过上优越生活变作依附有钱男人的交际花。又过几年，女学生变成女人，再遇她深爱多年的作家时，对方仍没把她认出。</p>
<p>[译文]：<br>1948 Winter, writer (Jiang Wen) received a letter from the thick 41 year old birthday in the evening, this letter from a dying woman’s hand, said she is nearly 20 years of love to him, but he is absolutely ignorant of.</p>
<p><em>以下资源收集于网络，版权归原资源地所有，下载后请在24小时内删除，勿非法使用！<br>若有资源失效或错误请在下方留言，留言只支持http需手动删除URL中的https访问</em></p>
<p><hr>豆瓣：<a href="http://movie.douban.com/subject/1308799/" target="_blank" rel="external"><font color="#1e92fb">http://movie.douban.com/subject/1308799/</font></a><hr><br>BT种子(复制链接粘贴到迅雷)：<br><a href="magnet:?xt=urn:btih:49C9738653D262137DB2BB8ADB6DB9D9CF373DB4" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:49C9738653D262137DB2BB8ADB6DB9D9CF373DB4</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:FB93E5525D7F78543D15C7FD00A6EFC57EAD2C0A" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:FB93E5525D7F78543D15C7FD00A6EFC57EAD2C0A</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:8304F530AB773D82CCDB8089A2C64987809F9A5F" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:8304F530AB773D82CCDB8089A2C64987809F9A5F</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:C936B50E1580378780F2DAAB67BA6F9872031F79" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:C936B50E1580378780F2DAAB67BA6F9872031F79</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:C31603B2F49802711B32F51742DD7622D92349ED" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:C31603B2F49802711B32F51742DD7622D92349ED</font></a></p>
<p><hr><br>百度网盘：<br><a href="https://pan.baidu.com/share/link?uk=2286172984&amp;shareid=259743478" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2286172984&amp;shareid=259743478</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=810418440&amp;shareid=166104480" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=810418440&amp;shareid=166104480</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=2567633562&amp;shareid=3409632195" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2567633562&amp;shareid=3409632195</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=3456641025&amp;shareid=3987955442" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=3456641025&amp;shareid=3987955442</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=2669385587&amp;shareid=3670017137" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2669385587&amp;shareid=3670017137</font></a></p>
<hr>
        </div>
        <footer class="article-footer">
            

    <div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more">分享到：</a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
</div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<style>
    .bdshare_popup_box {
        border-radius: 4px;
        border: #e1e1e1 solid 1px;
    }
    .bdshare-button-style0-16 a,
    .bdshare-button-style0-16 .bds_more {
        padding-left: 20px;
        margin: 6px 10px 6px 0;
    }
    .bdshare_dialog_list a,
    .bdshare_popup_list a,
    .bdshare_popup_bottom a {
        font-family: 'Microsoft Yahei';
    }
    .bdshare_popup_top {
        display: none;
    }
    .bdshare_popup_bottom {
        height: auto;
        padding: 5px;
    }
</style>



        </footer>
    </div>
</article>

    <section id="comments">
    
        
    <div id="uyan_frame"></div>

    
    </section>


                        </div>
                    </section>
                    <aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p>关注我 :</p>
        <ul class="social-links">
            
                
                <li>
                    <a class="social-tooltip" title="weibo" href="http://weibo.com/p/1005056301926780/home?from=page_100505&mod=TAB&is_all=1#place" target="_blank">
                        <i class="icon fa fa-weibo"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="rss" href="/atom.xml" target="_blank">
                        <i class="icon fa fa-rss"></i>
                    </a>
                </li>
                
            
        </ul>
    </div>
    
        
<nav id="article-nav">
    
        <a href="/201707/1499-mu-ou-qi-yu-ji/" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">下一篇</strong>
        <p class="article-nav-title">
        
            木偶奇遇记
        
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    
    
        <a href="/201707/1499-jia-fang-yi-fang/" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">上一篇</strong>
        <p class="article-nav-title">甲方乙方</p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    
</nav>

    
    <div class="widgets-container">
        
            
                
    <div class="widget-wrap">
        <h3 class="widget-title">最新文章</h3>
        <div class="widget">
            <ul id="recent-post" class="">
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-shen-tou-nai-ba-2/" class="thumbnail">
    
    
        <span style="background-image:url(/image/f630cbedebd098fa5407b925091e6678.png)" alt="神偷奶爸2" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-shen-tou-nai-ba-2/" class="title">神偷奶爸2</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:36.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-sha-shou-mei-you-jia-qi/" class="thumbnail">
    
    
        <span style="background-image:url(/image/31e6094b17e005ff8334f568e53a1eaf.png)" alt="杀手没有假期" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-sha-shou-mei-you-jia-qi/" class="title">杀手没有假期</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:17.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-ye-xing-zhe/" class="thumbnail">
    
    
        <span style="background-image:url(/image/25d7169975918a19b159ad438ad4ea83.png)" alt="夜行者" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-ye-xing-zhe/" class="title">夜行者</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:00.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-jiang-shi-xin-niang/" class="thumbnail">
    
    
        <span style="background-image:url(/image/6e0b4df93143b0ad81670738fa3c8d42.png)" alt="僵尸新娘" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-jiang-shi-xin-niang/" class="title">僵尸新娘</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:49:44.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-lang-qiao-yi-meng/" class="thumbnail">
    
    
        <span style="background-image:url(/image/407d73ea21884aa2439ebdac11cb348c.png)" alt="廊桥遗梦" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-lang-qiao-yi-meng/" class="title">廊桥遗梦</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:49:26.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>

            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">分类</h3>
        <div class="widget">
            <ul class="category-list"><li class="category-list-item"><a class="category-list-link" href="/categories/电影资源/">电影资源</a><span class="category-list-count">1538</span></li></ul>
        </div>
    </div>


            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">归档</h3>
        <div class="widget">
            <ul class="archive-list"><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/07/">七月 2017</a><span class="archive-list-count">1043</span></li><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/06/">六月 2017</a><span class="archive-list-count">495</span></li></ul>
        </div>
    </div>


            
        
    </div>
</aside>
                </div>
            </div>
        </div>
        <footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
            </div>
        </div>
    </div>
</footer>
        
    
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137746"></script>




    
        <script src="/libs/lightgallery/js/lightgallery.min.js"></script>
        <script src="/libs/lightgallery/js/lg-thumbnail.min.js"></script>
        <script src="/libs/lightgallery/js/lg-pager.min.js"></script>
        <script src="/libs/lightgallery/js/lg-autoplay.min.js"></script>
        <script src="/libs/lightgallery/js/lg-fullscreen.min.js"></script>
        <script src="/libs/lightgallery/js/lg-zoom.min.js"></script>
        <script src="/libs/lightgallery/js/lg-hash.min.js"></script>
        <script src="/libs/lightgallery/js/lg-share.min.js"></script>
        <script src="/libs/lightgallery/js/lg-video.min.js"></script>
    
    
        <script src="/libs/justified-gallery/jquery.justifiedGallery.min.js"></script>
    
    


<!-- Custom Scripts -->
<script src="/js/main.js"></script>

    </div>
</body>
</html>
