<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>太阳照常升起 | yuge8·专注电影资源分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <meta name="keywords" content="太阳照常升起" />
    
    <meta name="description" content="[太阳照常升起]简介： 　　姜文蛰伏七年之后的又一力作，由四个充满魔幻现实主义风格的小故事组成。　　1976年，南部一个边远的小山村，李东方（房祖名饰）的母亲因为一双鞋子疯掉，成为疯妈（周韵饰），终日疯疯癫癫，一天，李东方无意发现疯妈发疯的真相……　　1976年，一所大学里，晚上在操场放电影，有五个女人声称被人“摸屁股”，梁老师（黄秋生饰）阴差阳错成为嫌疑犯，有人开始在暗中帮他洗脱嫌疑……　　19">
<meta name="keywords" content="太阳照常升起">
<meta property="og:type" content="article">
<meta property="og:title" content="太阳照常升起">
<meta property="og:url" content="http://yuge8.com/201707/1499-tai-yang-zhao-chang-sheng-qi/index.html">
<meta property="og:site_name" content="yuge8·专注电影资源分享">
<meta property="og:description" content="[太阳照常升起]简介： 　　姜文蛰伏七年之后的又一力作，由四个充满魔幻现实主义风格的小故事组成。　　1976年，南部一个边远的小山村，李东方（房祖名饰）的母亲因为一双鞋子疯掉，成为疯妈（周韵饰），终日疯疯癫癫，一天，李东方无意发现疯妈发疯的真相……　　1976年，一所大学里，晚上在操场放电影，有五个女人声称被人“摸屁股”，梁老师（黄秋生饰）阴差阳错成为嫌疑犯，有人开始在暗中帮他洗脱嫌疑……　　19">
<meta property="og:image" content="http://yuge8.com/image/d9637e24ebfc8cf927799d3b68f7d4c7.png">
<meta property="og:updated_time" content="2017-07-03T09:27:43.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="太阳照常升起">
<meta name="twitter:description" content="[太阳照常升起]简介： 　　姜文蛰伏七年之后的又一力作，由四个充满魔幻现实主义风格的小故事组成。　　1976年，南部一个边远的小山村，李东方（房祖名饰）的母亲因为一双鞋子疯掉，成为疯妈（周韵饰），终日疯疯癫癫，一天，李东方无意发现疯妈发疯的真相……　　1976年，一所大学里，晚上在操场放电影，有五个女人声称被人“摸屁股”，梁老师（黄秋生饰）阴差阳错成为嫌疑犯，有人开始在暗中帮他洗脱嫌疑……　　19">
<meta name="twitter:image" content="http://yuge8.com/image/d9637e24ebfc8cf927799d3b68f7d4c7.png">
    

    
        <link rel="alternate" href="/atom.xml" title="yuge8·专注电影资源分享" type="application/atom+xml" />
    

    
        <link rel="icon" href="/favicon.ico" />
    

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/titillium-web/styles.css">
    <link rel="stylesheet" href="/libs/source-code-pro/styles.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/libs/jquery/2.0.3/jquery.min.js"></script>
    
    
        <link rel="stylesheet" href="/libs/lightgallery/css/lightgallery.min.css">
    
    
        <link rel="stylesheet" href="/libs/justified-gallery/justifiedGallery.min.css">
    
    
        <script type="text/javascript">
(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-101844534-1', 'auto');
ga('send', 'pageview');

</script>
    
    
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8775cfc726a94e80667a7c24cada8c1f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    

</head>

<body>
    <div id="wrap">
        <header id="header">
    <div id="header-outer" class="outer">
        <div class="container">
            <div class="container-inner">
                <div id="header-title">
                    <h1 class="logo-wrap">
                        <a href="/" class="logo"></a>
                    </h1>
                    
                        <h2 class="subtitle-wrap">
                            <p class="subtitle">专注电影视频资源分享|请关注yuge8.com</p>
                        </h2>
                    
                </div>
                <div id="header-inner" class="nav-container">
                    <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
                    <div class="nav-container-inner">
                        <ul id="main-nav">
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/">主页</a>
                                </li>
                            
                                <li class="main-nav-list-item" >
                                    <a class="main-nav-list-link" href="/categories/电影资源/">电影资源</a>
                                </li>
                            
                        </ul>
                        <nav id="sub-nav">
                            <div id="search-form-wrap">

    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="搜索" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="想要查找什么..." />
            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: '文章',
            PAGES: '页面',
            CATEGORIES: '分类',
            TAGS: '标签',
            UNTITLED: '(未命名)',
        },
        ROOT_URL: '/',
        CONTENT_URL: '/content.json',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>
<script src="/js/insight.js"></script>

</div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <div class="main-body-header">
    <h1 class="header">
    
    <a class="page-title-link" href="/categories/电影资源/">电影资源</a>
    </h1>
</div>
                        <div class="main-body-content">
                            <article id="post-1499-tai-yang-zhao-chang-sheng-qi" class="article article-single article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        
            <header class="article-header">
                
    
        <h1 class="article-title" itemprop="name">
        太阳照常升起
        </h1>
    

            </header>
        
        
            <div class="article-meta">
                
    <div class="article-date">
        <a href="/201707/1499-tai-yang-zhao-chang-sheng-qi/" class="article-date">
            <time datetime="2017-07-03T09:27:42.000Z" itemprop="datePublished">2017-07-03</time>
        </a>
    </div>

                
    <div class="article-tag">
        <i class="fa fa-tag"></i>
        <a class="tag-link" href="/tags/太阳照常升起/">太阳照常升起</a>
    </div>

            </div>
        
        
        <div class="article-entry" itemprop="articleBody">
            <p><img src="/image/d9637e24ebfc8cf927799d3b68f7d4c7.png" alt=""><br>[太阳照常升起]简介：</p>
<p>　　姜文蛰伏七年之后的又一力作，由四个充满魔幻现实主义风格的小故事组成。<br>　　1976年，南部一个边远的小山村，李东方（房祖名饰）的母亲因为一双鞋子疯掉，成为疯妈（周韵饰），终日疯疯癫癫，一天，李东方无意发现疯妈发疯的真相……<br>　　1976年，一所大学里，晚上在操场放电影，有五个女人声称被人“摸屁股”，梁老师（黄秋生饰）阴差阳错成为嫌疑犯，有人开始在暗中帮他洗脱嫌疑……<br>　　1976年，老唐（姜文饰）和唐妻（孔镱珊饰）下放到李东方所在的小山村。老唐天天和村里的孩子们一起上山打猎，逍遥自在，唐妻备受冷落之下，准备寻找自己新的生活……<br>　　1958年，新疆，两个骑骆驼的女人，唐妻和身怀六甲的疯妈，并肩而行，迎接她们的，是两段截然不同的命运……<br>　　若干年后的纠葛，从茫茫戈壁上的相遇开始，早已冥冥注定。</p>
<p>[译文]：<br>Another seven years after Jiang Wen’s hibernation, he was composed of four small stories full of magical realism.</p>
<p><em>以下资源收集于网络，版权归原资源地所有，下载后请在24小时内删除，勿非法使用！<br>若有资源失效或错误请在下方留言，留言只支持http需手动删除URL中的https访问</em></p>
<p><hr>豆瓣：<a href="http://movie.douban.com/subject/1766086/" target="_blank" rel="external"><font color="#1e92fb">http://movie.douban.com/subject/1766086/</font></a><hr><br>BT种子(复制链接粘贴到迅雷)：<br><a href="magnet:?xt=urn:btih:9990BB6CA46FD4B21196866BA3F1A7381F35CAB6" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:9990BB6CA46FD4B21196866BA3F1A7381F35CAB6</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:9ED915BE8233AC95ECE36DC0630566DD404D5531" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:9ED915BE8233AC95ECE36DC0630566DD404D5531</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:5E6820FE2AACF5013A8FEE500F77FCA9E5D6EABB" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:5E6820FE2AACF5013A8FEE500F77FCA9E5D6EABB</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:C824D6CBC212B77526C7609F72A2B764E1E9D446" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:C824D6CBC212B77526C7609F72A2B764E1E9D446</font></a></p>
<p><hr><a href="magnet:?xt=urn:btih:416204F5E5D33E928CBBCBBE106CFD1C02515851" target="_blank" rel="external"><font color="#1e92fb">magnet:?xt=urn:btih:416204F5E5D33E928CBBCBBE106CFD1C02515851</font></a></p>
<p><hr><br>百度网盘：<br><a href="https://pan.baidu.com/share/link?uk=3675580522&amp;shareid=271990508" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=3675580522&amp;shareid=271990508</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=2117565150&amp;shareid=3238617490" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=2117565150&amp;shareid=3238617490</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=1566620287&amp;shareid=4051126995" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=1566620287&amp;shareid=4051126995</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=591509905&amp;shareid=1228289738" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=591509905&amp;shareid=1228289738</font></a></p>
<p><hr><a href="https://pan.baidu.com/share/link?uk=428463374&amp;shareid=2300418440" target="_blank" rel="external"><font color="#1e92fb">https://pan.baidu.com/share/link?uk=428463374&amp;shareid=2300418440</font></a></p>
<hr>
        </div>
        <footer class="article-footer">
            

    <div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more">分享到：</a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
</div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<style>
    .bdshare_popup_box {
        border-radius: 4px;
        border: #e1e1e1 solid 1px;
    }
    .bdshare-button-style0-16 a,
    .bdshare-button-style0-16 .bds_more {
        padding-left: 20px;
        margin: 6px 10px 6px 0;
    }
    .bdshare_dialog_list a,
    .bdshare_popup_list a,
    .bdshare_popup_bottom a {
        font-family: 'Microsoft Yahei';
    }
    .bdshare_popup_top {
        display: none;
    }
    .bdshare_popup_bottom {
        height: auto;
        padding: 5px;
    }
</style>



        </footer>
    </div>
</article>

    <section id="comments">
    
        
    <div id="uyan_frame"></div>

    
    </section>


                        </div>
                    </section>
                    <aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p>关注我 :</p>
        <ul class="social-links">
            
                
                <li>
                    <a class="social-tooltip" title="weibo" href="http://weibo.com/p/1005056301926780/home?from=page_100505&mod=TAB&is_all=1#place" target="_blank">
                        <i class="icon fa fa-weibo"></i>
                    </a>
                </li>
                
            
                
                <li>
                    <a class="social-tooltip" title="rss" href="/atom.xml" target="_blank">
                        <i class="icon fa fa-rss"></i>
                    </a>
                </li>
                
            
        </ul>
    </div>
    
        
<nav id="article-nav">
    
        <a href="/201707/1499-zi-ri/" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">下一篇</strong>
        <p class="article-nav-title">
        
            紫日
        
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    
    
        <a href="/201707/1499-2046/" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">上一篇</strong>
        <p class="article-nav-title">2046</p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    
</nav>

    
    <div class="widgets-container">
        
            
                
    <div class="widget-wrap">
        <h3 class="widget-title">最新文章</h3>
        <div class="widget">
            <ul id="recent-post" class="">
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-shen-tou-nai-ba-2/" class="thumbnail">
    
    
        <span style="background-image:url(/image/f630cbedebd098fa5407b925091e6678.png)" alt="神偷奶爸2" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-shen-tou-nai-ba-2/" class="title">神偷奶爸2</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:36.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-sha-shou-mei-you-jia-qi/" class="thumbnail">
    
    
        <span style="background-image:url(/image/31e6094b17e005ff8334f568e53a1eaf.png)" alt="杀手没有假期" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-sha-shou-mei-you-jia-qi/" class="title">杀手没有假期</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:17.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-ye-xing-zhe/" class="thumbnail">
    
    
        <span style="background-image:url(/image/25d7169975918a19b159ad438ad4ea83.png)" alt="夜行者" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-ye-xing-zhe/" class="title">夜行者</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:50:00.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-jiang-shi-xin-niang/" class="thumbnail">
    
    
        <span style="background-image:url(/image/6e0b4df93143b0ad81670738fa3c8d42.png)" alt="僵尸新娘" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-jiang-shi-xin-niang/" class="title">僵尸新娘</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:49:44.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
                    <li>
                        
                        <div class="item-thumbnail">
                            <a href="/201707/1499-lang-qiao-yi-meng/" class="thumbnail">
    
    
        <span style="background-image:url(/image/407d73ea21884aa2439ebdac11cb348c.png)" alt="廊桥遗梦" class="thumbnail-image"></span>
    
    
</a>

                        </div>
                        
                        <div class="item-inner">
                            <p class="item-category"><a class="article-category-link" href="/categories/电影资源/">电影资源</a></p>
                            <p class="item-title"><a href="/201707/1499-lang-qiao-yi-meng/" class="title">廊桥遗梦</a></p>
                            <p class="item-date"><time datetime="2017-07-03T11:49:26.000Z" itemprop="datePublished">2017-07-03</time></p>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>

            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">分类</h3>
        <div class="widget">
            <ul class="category-list"><li class="category-list-item"><a class="category-list-link" href="/categories/电影资源/">电影资源</a><span class="category-list-count">1538</span></li></ul>
        </div>
    </div>


            
                
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">归档</h3>
        <div class="widget">
            <ul class="archive-list"><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/07/">七月 2017</a><span class="archive-list-count">1043</span></li><li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/06/">六月 2017</a><span class="archive-list-count">495</span></li></ul>
        </div>
    </div>


            
        
    </div>
</aside>
                </div>
            </div>
        </div>
        <footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
            </div>
        </div>
    </div>
</footer>
        
    
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137746"></script>




    
        <script src="/libs/lightgallery/js/lightgallery.min.js"></script>
        <script src="/libs/lightgallery/js/lg-thumbnail.min.js"></script>
        <script src="/libs/lightgallery/js/lg-pager.min.js"></script>
        <script src="/libs/lightgallery/js/lg-autoplay.min.js"></script>
        <script src="/libs/lightgallery/js/lg-fullscreen.min.js"></script>
        <script src="/libs/lightgallery/js/lg-zoom.min.js"></script>
        <script src="/libs/lightgallery/js/lg-hash.min.js"></script>
        <script src="/libs/lightgallery/js/lg-share.min.js"></script>
        <script src="/libs/lightgallery/js/lg-video.min.js"></script>
    
    
        <script src="/libs/justified-gallery/jquery.justifiedGallery.min.js"></script>
    
    


<!-- Custom Scripts -->
<script src="/js/main.js"></script>

    </div>
</body>
</html>
